[2018-10-26 09:54] vanniktech commented on #310
So what's the concrete issue?

[2018-10-26 09:54] vanniktech commented on #311
I don't follow.

[2018-10-26 12:18] hvar90 commented on #310
i think EmojiEditText should extend from androidx not from android, that is necessary in order to have full compatibility with androidx

[2018-10-26 12:33] vanniktech commented on #310
Eventually, this library will be moved to AndroidX. Unfortunately, I don't use it anymore so my motivation is rather little.

[2018-10-26 14:38] hvar90 commented on #310
ok, i understand, you did a good job with this library, we are very grateful for that and the people who use my app with your library is happy too

[2018-11-02 14:18] olegsvs opened #313 "FlagsCategory notAllEmojies"
Hi, ths for library! My problem is that in the compiled library not all flags:
This is class from library https://gist.github.com/olegsvs/00f118bc9afee22937a9471559914719
For example, there is no US flag 0x1F1FA, 0x1F1F8 (USA FLAG) but it is in the code https://github.com/vanniktech/Emoji/blob/master/emoji-google/src/main/java/com/vanniktech/emoji/google/category/FlagsCategory.java#L242
While I th

[2018-11-02 14:53] olegsvs commented on #313
Ok, thx for reply.

[2018-11-02 14:53] #313 closed

[2018-11-07 04:18] Noddy20 opened #314 "emojiPopup.toggle(); not working when the device is in landscape mode"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library:
- Affected devices:
- Affected versions:

Screenshot(s) showing the issue and reprodution steps are appreciated.

----------------------------------------------------------------------

[2018-11-07 08:15] vanniktech commented on #314
That can indeed be the case. Happy to take a PR that fixes this.

[2018-11-07 08:43] rubengees commented on #314
As a workaround in the meantime, you can set

[code]

on your `EmojiEditText`.

[2018-11-07 12:34] Noddy20 commented on #314
It worked :) @rocboronat
Thnx @rubengees & @vanniktech 👍

[2018-11-07 12:35] #314 closed

[2018-11-07 12:39] vanniktech commented on #314
Thanks for the workaround @rubengees

[2018-11-11 13:01] vedprakashwagh opened #315 "EmojiPopup not being displayed on landscape orientation"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library: Latest
- Affected devices: Any device that supports orientation change
- Affected versions:

Okay, so the problem is, the library creates the EmojiPopup by checking the height of the keyboard, but, when the orientation of device changes from portrait

[2018-11-11 13:02] vanniktech commented on #315
Dupe of #314

[2018-11-11 21:07] chim0380 commented on #216
**LeakCanary** detect memory leak when sleect several emoji in popWindow and rotate device after this (recreate activity).

[2018-11-22 00:44] vanniktech commented on #310
Jetifier should do the work. If there's a problem file on Google's side.

[2018-11-22 00:44] #310 closed

[2018-11-22 00:45] vanniktech commented on #144
Might happen or not. Will close for now.

[2018-11-28 09:01] premacck commented on #311
I think what he's trying to say is that currently, emojiEditText is required in the build() method's parameter of the EmojiPopup. But in newer versions of android, the default EditText and TextView can show the emojis by default. So can you provide another method with the default EditText for newer android versions?

[2018-11-28 11:04] premacck opened #317 "Converting String unicode to hex integer"
Hey @vanniktech
I am running 0.5.1 version of this library in my project.
Is there any way to convert the string unicode, that is obtained in the unicode field of the imageView parameter of onEmojiClick() method in OnEmojiClickListener, to hex integer?

I have tried
Integer.parseInt(unicode)
Integer.parseInt(unicode.subString(2)) - to remove the 'U+' from first
I've also tried [this](https://stack

[2018-12-09 20:16] tokkerbaz opened #318 "Question about EmojiTextView parsing shortcodes of emoji(:smile:), not unicode."
Hi, my question is **"Is there such possibility to parse codes of emojis in EmojiTextView"?**
Like in the link below.
[https://www.webpagefx.com/tools/emoji-cheat-sheet/](https://www.webpagefx.com/tools/emoji-cheat-sheet/)

In example, i have text like this: `"Hi,how are you doing?:relaxed:"`.  Text is using codes instead of unicode.

And also want to thank you for the very usefull lib.

- Version

[2018-12-13 03:06] Lailaizb opened #319 "Keyboard and expression switching without animation"
There's a bottom pop-up animation when you want to switch, but I won't do it.
Thank you.

[2018-12-23 05:06] Noddy20 opened #321 "emojiPopup.toggle(); not working in DialogActivity and Dual WIndow Mode"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library:
- Affected devices:
- Affected versions:

Screenshot(s) showing the issue and reprodution steps are appreciated.

----------------------------------------------------------------------

[2018-12-23 05:10] Noddy20 commented on #321
In DialogActivity it works only when the phone is in landscape mode.
And not working in Dual Window mode (i'm using LG device's dual window feature).
Thank you.

[2018-12-24 11:07] vanniktech commented on #321
Yeah, that could be the case. As far as I know, we don't do special window handling. Mind cracking out a fix? I won't have the time to investigate this further.

[2018-12-24 11:09] vanniktech commented on #319
Can you provide some more information?

[2018-12-24 11:10] vanniktech commented on #318
Nope, not yet. @rubengees wanted to start this by parsing the codes and providing an API for getting aliases for each emoji. Dunno what the state is. Feel free to tinker around with the generator.

[2018-12-24 11:10] vanniktech commented on #317
Nope. Why would you want to do this?

[2018-12-24 11:10] #317 closed

[2018-12-24 11:12] vanniktech commented on #311
Yeah, he wants to use any EditText/TextView. I like the idea, but I haven't had time to look at the implementation and make some other necessary changes.

[2018-12-24 12:55] tokkerbaz commented on #318
Thank you, for now may be will close this issue

[2018-12-24 12:55] #318 closed

[2018-12-24 13:38] rubengees commented on #318
I had this ready on a branch I think, I'll look into what the state of that was exactly.
Simply replacing shortcodes with emojis would not be that hard I think, but showing suggestions when the user was typing was, so I never finished that.
The former could be implemented by having a property on the `Emoji*View` to allow for that and simply adding the aliases to the regex used for finding the righ

[2018-12-25 08:11] Noddy20 commented on #321
ok

[2018-12-25 08:11] #321 closed

[2019-01-03 15:37] vanniktech commented on #319
I'm closing this issue due to inactivity. If you have any further input on the issue, don't hesitate to reopen this issue or post a new one.

[2019-01-03 15:37] #319 closed

[2019-01-03 21:20] ZeD73 opened #322 "Incorrect popup height"
- Version of the library:
emoji-google or emoji-ios
- Affected devices:
Mi8, Poco F1
- Affected versions:
0.5.1

----------------------------------------------------------------------

For some reason Utils.screenHeight(Activity context)
returns display height size that is lower by 220 from real parameters.
I was able to fix it, by modifying  screenHeight method to
[code]

[2019-01-03 22:39] vanniktech commented on #322
What's the difference? You can use the ```diff feature.

[2019-01-04 08:16] ZeD73 commented on #322
I have created patch from my commit:
[code]

[2019-01-04 17:52] vanniktech commented on #322
Does not seem to work for me. This way the EditText in the sample app is always hidden behind the EmojiPopup.

[2019-01-04 20:24] ZeD73 commented on #322
Confirmed this on emulators, seems it's bug with full screen gestures in MIUI and maybe OxygenOS roms.
For now it can be resolved by decreasing screen size by status bar height.
return screenResolution.y - navigationBarHeight(context);

[code]
But I will try to provide more reliable solution.

[2019-01-12 09:30] mario opened #323 "Emoji keyboard isn't shown"
- Version of the library: 0.5.1
- Affected devices: All
- Affected versions: All

----------------------------------------------------------------------
When using extracted UI for edittext in horizontal mode, the emoji keyboard is not shown if EditText is NOT in focus. If it's in focus, then the edittext is extracted and covers the whole screen. (it's fine to have NO emoji keyboard in this case b

[2019-01-12 10:32] vanniktech commented on #323
Dupe of #314

[2019-01-12 10:32] #323 closed

[2019-01-12 12:16] mario commented on #323
Ah, sorry about that - I was sure that I looked through all the issues. Now that I know you're active, I'll make a fix and submit a PR.

[2019-01-15 17:51] vanniktech commented on #322
I think this is related to #191 and overall the popup code has some rough edges. Hence, I'm folding this issue into the other one.

[2019-01-15 17:51] #322 closed

[2019-01-18 13:37] rocboronat opened #325 "New release?"
The project is stable enough to use releases instead of snapshots. Let's move to releases :tada:

[2019-01-19 13:17] vanniktech commented on #325
Yes and no. @mario wanted to do some contributions. For a list see - https://github.com/mario/Emoji/issues

I know the last release has been super long ago.

[2019-01-21 09:14] vanniktech commented on #325
For now use the SNAPSHOT or build the aars locally.

[2019-01-23 21:36] rubengees opened #328 "Weird behaviour in landscape when flagNoExtractUi is not set"
- Version of the library: 748c208
- Affected devices: All
- Affected versions: All

When opening the emoji keyboard in landscape, the emoji picker is shown on it's own, without the `EditText`. I reproduced that on a default API 28 emulator.
Setting `android:imeOptions="flagNoExtractUi"` works around like before.

![](https://user-images.githubusercontent.com/8021265/51638587-05bae780-1f5f-11e9-9ef

[2019-01-23 22:20] mario commented on #328
On it already.

[2019-01-24 01:54] mario commented on #328
I'd like to be able to push branches to this repo so I don't have to keep my fork if it's not too much trouble.

Got a fix for this problem btw, and a few other related problems.

[2019-01-24 01:54] mario commented on #328
Ignore me, I can. It's just too late :-/

[2019-01-26 23:25] mario opened #331 "Add licencing header to every file"
Due to legal reasons, it is recommended to add licencing header to every file that includes contributors to the file, year, and the gist of the licence (in this case APL).

[2019-01-26 23:53] vanniktech commented on #331
The only thing that worries me is the year. What should we put there?

[2019-01-26 23:57] mario commented on #331
Well, usually you put in the whole copyright range. But if you create a new file today, you can put just 2019.

[2019-01-27 00:17] vanniktech commented on #331
Can we take the year where the current file was first created?

[2019-01-27 13:01] vanniktech commented on #331
Then let's do it just like RxJava does it and also apply it to each file. In the file, we use the date that the file was first seen in the repo. With this, we should be fine.

[2019-01-28 11:38] vanniktech commented on #331
Let's get this into 0.6.0 as well.

[2019-02-04 13:52] ForsHant opened #339 "windowIsTranslucent causes two input windows bug on launching from desktop"
- Version of the library: 0.5.1 iOS, 0.6.0-SNAPSHOT
- Affected devices: Meizu Pro 6
- Affected versions: 6.0

**Potential steps to reproduce**
1. Set windowIsTranslucent to true in AppTheme style. My app uses Theme.AppCompat.Light.NoActionBar
2. Build with desktop screen opened (normal user behavior)
3. Click on emoji or tab
----------------------------------------------------------------------

E

[2019-02-04 21:05] rubengees opened #340 "Other UI elements can't be selected when emoji popup is visible"
- Version of the library: Latest `master`
- Affected devices: All
- Affected versions: All

When selecting another UI element while the popup is visible, the popup is first closed and another click is required to trigger the UI element.

This is due to this line, introduced in https://github.com/vanniktech/Emoji/pull/333:

https://github.com/vanniktech/Emoji/blob/985af973137a8224c1a945f22fa6d33b6d

[2019-02-04 21:09] mario commented on #340
This has to be there, otherwise the back button doesn't function properly? :) E.g. it wouldn't close the popup window.

[2019-02-04 21:39] rubengees commented on #340
I disagree, as a user I would expect the back button to close the keyboard, if it is the emoji one or the normal one. This is also the behaviour of all apps I know of (WhatsApp, Telegram, Slack, ...). Before the change, that was also the behaviour of this lib.

[2019-02-04 21:42] mario commented on #340
Well, exactly. If you remove this, the regular keyboard is dismissed BEFORE the emoji keyboard. At least that was my experience.

[2019-02-04 21:48] rubengees commented on #340
Ah, I see! Can't reproduce that on my emulator (after removing the line in question), but if that happens on specific devices it's a bug we need to fix in a different way. The behaviour now is counterintuitive for the user and in conflict with the behaviour of most (all I know) other apps.

[2019-02-04 21:50] mario commented on #340
I can take a look after I've hunted down the previous bug you found.

[2019-02-04 21:50] rubengees commented on #340
Great, thanks! :+1:

[2019-02-05 09:35] vanniktech commented on #340
Awesome. Thanks for figuring this out!

[2019-02-10 03:38] mario commented on #339
I am not sure I understand this bug report? Can you please provide screenshots?

[2019-02-10 03:38] mario commented on #331
Unlikely due to my time constraints, unless you can do it @vanniktech.

[2019-02-10 10:43] vanniktech commented on #331
Nah I'm not eager for it :D

[2019-02-10 10:45] mario commented on #331
Slacker :p

On Sun, 10 Feb 2019, 11:43 Niklas Baudy, <notifications@github.com> wrote:

[2019-02-13 10:40] EbelloImbox opened #341 "Can you tell me how to show Emojis in Action Bar Title?"
Hello, I am using 0.5.1 version and I would like to know how to change Action Bar title to show your Emojis.

Like you can see in the following pictures, Emojis is not showing correctly, because I am using Google Emojis and I can see it in all my app replacing TextView by your, but I can not change the TextView in Action Bars.

Cheers.

![image](https://user-images.githubusercontent.com/46479160/5

[2019-02-13 10:51] vanniktech commented on #341
Custom tab bar with our EmojiTextView or handle it yourself.

[2019-02-13 10:51] #341 closed

[2019-02-13 15:07] mario opened #342 "Add EmojiActionBar"

[2019-02-13 15:08] mario commented on #341
I'll add this eventually, it's relatively trivial since I've already done it.

[2019-02-13 15:08] mario commented on #341
We're tracking the issue here: https://github.com/vanniktech/Emoji/issues/342

[2019-02-13 16:09] mario opened #343 "Discuss repo/naming changes if GIF support is added"
So I plan to add a GIF support eventually. Would we change the repo name and the classes if this happens?

In addition, is any one of you willing to lend a hand here or are you simply too busy? :-/

[2019-02-14 19:33] vanniktech commented on #343
Unfortunately, I won't be able to help out. What would the new name be?

[2019-02-14 19:34] vanniktech commented on #339
I'm closing this issue due to inactivity. If you have any further input on the issue, don't hesitate to reopen this issue or post a new one.

[2019-02-14 19:34] #339 closed

[2019-02-14 20:01] mario commented on #343
Didn't think about it yet, but if it supports more than Emoji than Emoji might not be a fit anymore :)

What do you @rubengees thinks? Also, are you available for pairing up on this?

[2019-02-14 21:53] #328 closed

[2019-02-14 21:54] vanniktech commented on #340
@mario this can also be closed now, right?

[2019-02-14 21:59] mario commented on #340
Yes @vanniktech, this has also been fixed via #329.

[2019-02-14 21:59] #340 closed

[2019-02-14 22:00] rubengees commented on #343
Hmm, no great name comes to mind yet. But I think "keyboard" should be included, since that is what this library mainly does.

Depends on how busy work is and how motivated I am ;) But I can imagine to help out here and there, even though that would not be a feature, I actively need.

[2019-02-15 06:58] Asimkhanmak opened #344 "Add facebook and whatsapp emojis"
Please add facebook and whatsapp emojis too.
Thanks

----------------------------------------------------------------------

[2019-02-15 08:41] mario commented on #344
WhatsApp is highly unlikely as our upstream emoji source data doesn't support it, and while we might consider Facebook/Messenger, it is very likely that it'll come if someone contributes.

If you have any questions on how to do that once you get around to looking at the generator source code, we'll be happy to answer them!

[2019-02-15 09:22] rubengees commented on #344
Facebook would be easy to add, I'll look at it once I have time.

[2019-02-15 10:06] vanniktech commented on #344
Whatsapp are using iOS emojis, no?

[2019-02-15 10:22] rubengees commented on #344
No, they have their own since some time ago.

[2019-02-15 10:59] vanniktech commented on #344
Oh interesting. Didn't notice. (Haven't forgotten the release - just super busy at work)

[2019-02-16 20:57] vanniktech commented on #343
EmojiGifKeyboard?

[2019-02-16 20:58] mario commented on #343
While that would clearly explain the functionality, is it too generic?

On Sat, 16 Feb 2019, 21:57 Niklas Baudy, <notifications@github.com> wrote:

[2019-02-18 11:51] EbelloImbox opened #345 "Problems with version 0.6.0 and SDK 26"
Hello, I am using version 0.5.1 of this library and I want to update to 0.6.0, but I am using to compile SDK 26 and I can not upload it right now.

Are there any way to use the version 0.6.0 with SDK 26? This is the error that show me:

![image](https://user-images.githubusercontent.com/46479160/52949168-ca53e300-337b-11e9-8345-edc6ca6fcde8.png)

[2019-02-18 13:03] vanniktech commented on #345
Yeah. Time to update to 28.0.0 or downgrade your version using Gradle's resolutionStrategy.

[2019-02-18 13:03] #345 closed

[2019-02-18 21:13] vanniktech commented on #343
Dunno. I was thinking we could provide one module that has a basic keyboard pluggable mechanism and then you can plug in different features. Like Emojis. Gifs. Stickers. Whatever you want / need.

[2019-02-19 00:06] mario commented on #343
This is what I would do, yes.

[2019-02-19 11:08] vanniktech opened #347 "Change default animation in demo"

[2019-02-19 11:13] mario commented on #347
There are two types of animations in a demo :P Do you mean the keyboard animation or the viewpager animation? :D

[2019-02-19 11:26] vanniktech commented on #347
Animation for the Emoji sheet

[2019-02-25 20:58] AlexMavDev opened #348 "Emoji library issue with accessibility"
- Version of the library: com.vanniktech:emoji-google:0.6.0
- Affected devices: All devices
- Affected versions: Most recent

Reproduction steps
1) Turn on talkback following these steps:
Settings (app) > Accessibility (list option) > Talkback (list option) > Switch ON
2) Navigate until any point where the Emoji popup is used and open it.
3) Select any emoji from a category.
4) Talkback announces

[2019-02-25 21:05] rubengees commented on #348
Would you like to do a pull request for that? Otherwise I or @mario, @vanniktech will eventuelly come to it.

[2019-02-26 13:57] ForsHant commented on #339
Sorry, I was busy last week. Here is gif that shows the problem. Problem occurs only when AppTheme's windowIsTranslucent set to true and the app was launched from the desktop screen. If the app is launched on top of another app (as it happens when you build from android studio) everything works just fine
![ezgif com-gif-maker](https://user-images.githubusercontent.com/30048242/53417596-f78d3a80-39

[2019-02-26 14:04] vanniktech commented on #339
Can you try 0.6.0?

[2019-02-26 14:11] ForsHant commented on #339
Yep. The 0.6.0 version fixed it. Good job, guys. Thanks :) 👍

[2019-02-26 14:12] vanniktech commented on #339
Thank @mario ! I only reviewed code and published a new version.

[2019-02-27 16:15] EbelloImbox commented on #341
For people that are experimenting problem like this, you can solve it with a Custom ActionBar like this:

Java:
`
final ActionBar actionBar = this.getSupportActionBar();
actionBar.setDisplayOptions(ActionBar.DISPLAY_SHOW_CUSTOM);
actionBar.setDisplayShowCustomEnabled(true);

View v = getLayoutInflater().inflate(R.layout.titleview, null);
titleActionBar = v.findViewById(R.id.title);

actionBar.setC

[2019-03-04 16:29] Sulfkain opened #349 "Some emojis small size (wrong size)"
Hello,
I'm using the TwitterEmoji and lib version v0.5.1, and everything works perfect.

But now, we are migrating to the iOS emojis, and lib v0.6.0.
The problem is, some emojis are resized to the min size (no clue why some works, others no)
If I change the icon (wrong resize) to the iOS version using the last lib with iOS emojis.
Then it will show it perfect on new version with iOS or in 0.5.1 wi

[2019-03-05 05:23] AlexMavDev commented on #348
Sure

[2019-03-05 10:40] EbelloImbox opened #350 "Show 4 emojis if I send a family Emoji in a iOS device"
Hello to everyone, first of all, I would like to tell you that I appreciate too much your work.

Well, my problem (or question) is when I send an Emoji like this:

![image](https://user-images.githubusercontent.com/46479160/53799206-2c931300-3f3a-11e9-88b9-ae91a01d55fd.png)

and I receive it in my Android app with this library everything works fine, but if I send this Emoji to an iOS device (that

[2019-03-05 10:59] vanniktech commented on #350
Those emojis are actually composed of those 4 unicode's one so this is working as intended.

[2019-03-05 11:05] EbelloImbox commented on #350
Thank you for your quickly answer.

Do you have any idea about how to get that iOS people can see correctly this Emojis?

[2019-03-05 11:17] mario commented on #350
The question is how you store this in the database and then what you set to the TextView - on the Android side it's CharSequence. I just tested this on an iOS app that we're working on, and this works as expected so has nothing to do with the lib :)

Let us know if we can assist in any other way!

[2019-03-05 11:17] #350 closed

[2019-03-05 15:03] vanniktech commented on #349
@rubengees is our data source pulling the images in different sizes?

[2019-03-05 15:07] vanniktech commented on #343
How about just `Keyboard`?

Also, do we need to leave this issue open?

[2019-03-05 16:48] mario commented on #343
Nah, close it and we'll discuss more when we come to it :)

[2019-03-05 16:48] #343 closed

[2019-03-05 22:43] rubengees commented on #349
@vanniktech No, as far as I know. Not sure what causes this...

[2019-03-05 22:44] mario commented on #349
Can I ask why is EmojiTextView used for this anyway? For your usecase EmojiImageView looks better...

[2019-03-05 23:30] AlexMavDev commented on #348
Hi guys,
I've done all the appropriate changes in the library. Do you need to assign me permission for doing the push?

[2019-03-05 23:42] mario commented on #348
Could you push to your fork and open a PR then, please?

On Wed, 6 Mar 2019, 00:30 AlexMavDev, <notifications@github.com> wrote:

[2019-03-06 02:14] AlexMavDev commented on #348
Yeah,
https://github.com/vanniktech/Emoji/pull/352

[2019-03-07 09:13] Sulfkain commented on #349
@mario I even know this class exists, no doc on README about it. Could be a great time to add it
And on v0.5.1 didn't exist that class.

I have tried to implement it, but no doc available about how to use. Or test to show how to use it.
So I was reading code and trying to understand it.
The only public method is `updateEmoji` but says on code doc, it will only be use to update to the same emoji ba

[2019-03-08 20:34] #347 closed

[2019-03-20 10:18] vanniktech opened #354 "Improve documentation / sample app"
Some things are present in the library but they are nowhere mentioned. @mario did already a good job including some of the latest features but we're still missing some.

[2019-03-20 10:18] vanniktech commented on #349
Closing in favor of #354

Feel free to add some documentation to the README!

[2019-03-20 10:18] #349 closed

[2019-03-20 10:38] Sulfkain commented on #349
@vanniktech The problem as I told on the message is I even know how to use it.
And I'm asking for help or documentation.

Thanks to open your proyect to contribution, but I need first help and later I could add some doc based on my little experience.
But please, help me first with some info about that classes and resolve my questions.

Thank's

[2019-03-20 10:42] vanniktech commented on #349
Look at the class. It's rather straight forward what it does and it should be obvious how to use it :)

[2019-03-20 10:53] Sulfkain commented on #349
Sorry but it doesn't, as I told, I already readed` EmojiImageView` and try to implement but it not really easy to use.
Could you please answer my questions?

Thanks.

[2019-03-20 14:47] vanniktech commented on #349
I won't. I don't have the time neither do I have the resources to answer questions. I'm maintaining this in my free time and will allocate the time that I spend on such projects on my schedule.

Maybe someone else will answer your question. You can also try stackoverflow.

[2019-03-25 21:27] dangerchitthu opened #355 "How to integrate into actual softkeyboard."
Pls Help Me......
Does anyone knows how to integrate this project into the actual softkeyboard? I mean not the stock keyboard (AOSP), but the custom softkeyboard sample provided in the legacy android sdk.

[2019-03-25 21:47] vanniktech commented on #355
No and I don't think we want to have this.

[2019-03-25 21:47] #355 closed

[2019-03-27 10:59] Sulfkain commented on #349
Ok, thanks.
@mario could you throw more info about that class and if you could resolve the questions will be really apreciate.

Thanks

[2019-04-17 04:08] dangerchitthu commented on #355
h
![Screenshot_1555473645](https://user-images.githubusercontent.com/12719655/56260326-d40c7500-60a4-11e9-953b-549980696292.png)

[2019-04-17 19:50] daniele-athome opened #356 "Am I the only one noticing a slight decrease in quality?"
I've upgraded to 0.6.0 and noticed a decrease in image quality of the emojis. I know it's small, but it's noticeable. Maybe it's because of borders, shadows, I don't know...

Here is from commit 182e1ff4f4:
![Screenshot_1555530212](https://user-images.githubusercontent.com/3763726/56316285-2fe50580-615a-11e9-925b-1edb25233e7c.png)

Here is from 0.6.0:
![Screenshot_1555530002](https://user-images.g

[2019-04-17 20:08] rubengees commented on #356
Hmm, we have once regenareted the images in the commit https://github.com/vanniktech/Emoji/commit/985af973137a8224c1a945f22fa6d33b6d1b118e.

It also updated the datasource from where we are pulling, maybe that is the cause?

[2019-04-17 20:40] daniele-athome commented on #356
I don't know... their latest release featuring EmojiOne (4.0.4) shows perfectly shaped emojis, at least for EmojiOne which I'm using now (I know they've been removed, but still...):

https://github.com/iamcal/emoji-data/raw/a97b2d2efa64535d6300660eb2cd15ecb584e79e/sheet_emojione_64.png

Anyway... other emoji sets seems to not be affected by this issue. So, since EmojiOne was removed... I guess I h

[2019-04-17 20:44] rubengees commented on #356
We are using `4.1.0` in version `0.6.0` I think.

[2019-04-17 20:48] daniele-athome commented on #356
Wasn't EmojiOne removed already in 4.1.0?

[2019-04-17 22:24] rubengees commented on #356
You are right! What I said was wrong, release 0.6.0 did use version 4.0.4. We can try to regenerate with the latest version and see how the quality is of that.

[2019-04-17 22:33] daniele-athome commented on #356
Already tried with both optimization on and off. No difference.
And the latest version doesn't have EmojiOne anyway...

I switched to iOS emojis now, which are the only ones really fine (graphic quality speaking); Google and Twitter seem somewhat blurry compared to the datasource. Maybe an investigation for those is due.

[2019-04-17 22:41] rubengees commented on #356
I see, we need to look into that then. Can't think of anything right now what causes that.
I'll reopen the issue to keep track of this.

[2019-04-18 07:00] omkar1707 opened #357 "Rectangle Emoji Size"
I am using this library to load my custom emojis.
My emoji size is not square. Each emoji is a rectangle in shape Eg. 64X80.

When I click on emoji and send it. The EmojiEditText shows the emoji bit stretched.
PFA screenshot for the same.

How I can modify to the code to make it look not stretched?

![Screenshot_1555570537](https://user-images.githubusercontent.com/26362645/56342432-a6731900-61d5-

[2019-04-18 08:30] vanniktech commented on #357
Yeah, that's what happens when you use rectangles. Try using fitCenter

[2019-04-18 08:30] #357 closed

[2019-04-18 09:53] omkar1707 commented on #357
@vanniktech Where should I use the fit center? Can you point it out?

[2019-04-19 15:54] puneethkumar450 opened #358 "Emoji is not shown correct"
----------------------------------------------------------------------

🙋‍♂️ (man raising hand)
 it shows separately with boy gender
![34350316-3806b140-ea51-11e7-98b8-0e4a6ecc613c](https://user-images.githubusercontent.com/17966527/56431897-1e7e3380-62e9-11e9-8b95-d6e7a9f012d5.png)

check the link it shows separately.

the same way the family is shown separately with the boy , girl , father, moth

[2019-04-19 16:06] puneethkumar450 commented on #358
Can you please help me with this

[2019-04-19 17:00] rubengees commented on #358
Can you test the latest commit from master? It might be fixed there: https://github.com/vanniktech/Emoji#snapshots

[2019-04-30 15:29] puneethkumar450 commented on #358
Ya, It's working Fine.

Why can't you open EMOJI KEYBOARD without opening soft keyboard

[2019-04-30 15:30] vanniktech commented on #358
Because we need the soft keyboard to calculate the proper height.

[2019-04-30 15:30] #358 closed

[2019-04-30 15:40] puneethkumar450 commented on #358
I think Keyboard size will be the default for all the mobiles.

[2019-04-30 18:21] omar-othmann opened #359 "How to add customize emoji by String not integar!"
Hello, how i can add custom emoji by String like:

INSTANCE.emojiMap.put("@}->--", new IosEmoji(0x1F339, 6, 47));
INSTANCE.emojiMap.put(":D", new IosEmoji(0x1F339, 6, 47));
etc.....

Thank you

[2019-04-30 20:14] vanniktech commented on #359
Provide your own Category with a custom Emjoi instance that contains the Unicode instances.

[2019-04-30 20:14] #359 closed

[2019-05-07 12:17] mahmoudelgamal1997 opened #360 "Adding to InputMethodService"
How to add this library to my custom keyboard .
Library need custom edittext and i can't put it in my custom keyboard

[2019-05-07 12:26] vanniktech commented on #360
You can also use the normal EditText.

https://github.com/vanniktech/Emoji/pull/324

[2019-05-07 12:26] #360 closed

[2019-05-13 06:42] LeoAso opened #361 "EmojiTextView has no effect when set to all caps"
- Version of the library: com.vanniktech:emoji-twitter:0.6.0
- Device version: Android 4.4.2

When I set `android:textAllCaps="true"` on an `EmojiTextView`, it reverts back to showing the default stock emojis rather than showing the emojis provided by the library. Here is a sample layout.

[code]
Here is the activity code (in Kotlin).

[code]

This is the result.

![Screenshot_2019-05-13-07-20-20

[2019-05-18 16:40] wellbranding opened #362 "Why keyboard height fills the whole activity view?"
Hello, I have a recyclerview which has an EmojiEditText in every recyclerview item. However, it does not work correctly at all. It fills **whole view**, leaving some ### blank spaces in the corners...  It should be **same height as regular keyboard**.

Will you will fix this issue? I could do it myself if you could provide details, why such issue occurs at all.

Sincerely, Viktor
![Screenshot_2019

[2019-05-18 17:24] mario commented on #362
What version of the lib and could you provide us with a test app?

[2019-05-18 20:51] wellbranding commented on #362
It is newest version. it would be difficult to provide sample, I will try, however I don't see much purpose. such functionality should work for all cases... Can you provide reasons why it could not work?

[2019-05-19 03:41] mario commented on #362
No unless you provide a sample and show some common decency and appreciation. Otherwise, I see no reason why I should look into your bug.

[2019-05-19 03:46] mario commented on #348
Closing since the PR was merged, thanks for this @AlexMavDev.

[2019-05-19 03:46] #348 closed

[2019-05-22 13:17] Hosseinyzr opened #363 "EmojiPopUp without editText"
Hello,thanks for this  ripo.
I just wnat to show the emojipopup and when click on some emoji , set the emoji to according emojitextview.
I don't need any edittext ,but as I found, I should provide one. any idea?

[2019-05-22 14:05] Hosseinyzr commented on #363
And is there any feature like emojiDialog? just for selecting one emoji from it...

[2019-05-30 04:28] tcqq opened #364 "Request to update Google emoji"
@vanniktech Request to update the latest Google [emoji](https://emojipedia.org/google/).
![image](https://user-images.githubusercontent.com/10644057/58608460-3bd5f280-82d6-11e9-9029-fa77f3b19585.png)

[2019-05-30 10:19] vanniktech commented on #364
Feel free to submit a PR.

[2019-05-31 13:23] vanniktech commented on #363
Not yet.

[2019-05-31 13:23] #363 closed

[2019-05-31 13:23] vanniktech commented on #362
I'm closing this issue due to inactivity. If you have any further input on the issue, don't hesitate to reopen this issue or post a new one.

[2019-05-31 13:23] #362 closed

[2019-06-05 05:21] rocboronat opened #366 "Compress the PNG's"
This issue is just to share my results compressing the iOS png's with ImageOptim, an open source application to compress images.

I don't know if the images that are being released are already compressed, but just for the information: here's a screenshot of the results I had.

<img width="882" alt="compressed-images" src="https://user-images.githubusercontent.com/456499/58932095-dfd0fb00-8727-11e9

[2019-06-05 07:27] rubengees commented on #366
We actually compress the images already with [PngQuant](https://pngquant.org/) and [Zopfli](https://github.com/google/zopfli) (automated in our [generator](https://github.com/vanniktech/Emoji/tree/master/generator).

As you can see, the savings for the actually large relevant file *emoji_ios_sheet.png* is only 0.2% since it is already heavily compressed. The category images are currently not compr

[2019-06-05 14:55] rocboronat commented on #366
Great! Good work automating it!

Do you want me to compress the category images and launch a PR?

[2019-06-05 15:05] rubengees commented on #366
Sure, please do!

[2019-06-05 15:56] scalajay commented on #348
Hi all, can we get a new release? Im really looking forward to using this accessibility patch. Thank you.

[2019-06-05 22:09] rocboronat commented on #366
That's all we can do related to this issue. Let's close it! Thanks for your quick reply, @rubengees :·)

[2019-06-05 22:09] #366 closed

[2019-07-04 05:00] bagvand opened #369 "The memory of the device will grow up and finally crash."
Hello
I use the last commit of master for my application.
I build EmojiPopup from onCreate of my fragment.
My fragment will be created and destroyed much time.
Problem: The memory of the device will grow up and finally crash.
The instance of EmojiPopup is not static and does not collect by GC. Why?

[2019-07-04 06:36] bagvand commented on #369
Problem Solved:
steps:
1- adding below function to EmojiPopup.java
  public void releaseMemory() {
    if (Build.VERSION.SDK_INT < 16) {
      rootView.getViewTreeObserver().removeGlobalOnLayoutListener(onGlobalLayoutListener);
    } else {
      rootView.getViewTreeObserver().removeOnGlobalLayoutListener(onGlobalLayoutListener);
    }
  }
2- calling this function from onDestroyView of fragment.

[2019-07-04 07:52] vanniktech commented on #369
cc @rubengees what do you think?

[2019-07-04 09:02] rubengees commented on #369
This looks like a memory leak which is caused by our layout listener for the keyboard. @bagvant could you put together a minimal sample App for reproduction?

[2019-07-06 04:25] bagvand commented on #369
OnCreate Activity:
LoadFragment(FragmentMain);

Button Click in FragmentMain:
LoadFragment(FragmentWithEditTextSticker); // adding fragment

FragmentWithEditTextSticker OnViewCreated:
setUpEmojiPopUp()

// we can press back and load FragmentWithEditTextSticker again.
// with this example and loading FragmentWithEditTextSticker multiple time then memory will grow up.

[2019-07-12 21:16] scalajay commented on #369
Hi all, can we get a new version release? I am really looking forward to some of the merged changes.
Thank you.

[2019-07-13 15:32] rubengees commented on #369
@bagvand Thanks, I am able to reproduce.

[2019-07-14 10:06] #369 closed

[2019-07-14 10:46] nosikuminyoi commented on #356
same issue here, ios emojis... please help

[2019-07-14 11:30] nosikuminyoi commented on #356
@rubengees

[2019-07-18 11:10] krghv85 opened #371 "Why does some emojis showing with other view in a EmojiEditText"
Why does some emojis showing with other view in a EmojiEditText, in my phone(Vivo 1724). How do I fix it.

It happening with entered emojis and emojis entered by device default keyboard not from EmojiEditText.

Device os 8.1.0

----------------------------------------------------------------------
![emoji](https://user-images.githubusercontent.com/19995240/61452359-38c3be00-a979-11e9-958b-41674061

[2019-07-19 13:59] vanniktech commented on #371
Can you reproduce this in the sample app?

[2019-07-29 12:51] VitalyKuznetsov opened #372 "Adding toggle mode with a specific height."
Hi!

Would it be possible to add a different open mode to the library, that would allow for EmojiPopup to be opened without opening the keyboard first.
Something like ```open(int height)```.
I would be much happier to use such method instead of the current one.

Thanks in advance!

[2019-07-29 17:48] vanniktech commented on #372
Why? How would you get the height of keyboard?

[2019-07-30 10:01] VitalyKuznetsov commented on #372
Some apps may listen for the first keyboard opening event and store keyboard height value until the height is changed by the user (think telegram, whatsapp etc.)
Such use case can also be applied to the application I am working on. There already exists a View that replaces the keyboard and saves its height. I would like to add your library to my project but to continue to use it in the same workfl

[2019-07-30 10:37] vanniktech commented on #372
That makes sense. We could add the `height` to the Builder and don't calculate it our self if it's provided.

[2019-07-30 12:50] VitalyKuznetsov commented on #372
Here goes - https://github.com/vanniktech/Emoji/pull/373

[2019-07-31 11:41] VitalyKuznetsov commented on #372
Hey again!
I answered the review comment in the PR, but there was no update ever since...

[2019-08-13 17:17] vanniktech commented on #361
Have you tried the sample app?

[2019-08-13 17:20] vanniktech commented on #371
I'm closing this issue due to inactivity. If you have any further input on the issue, don't hesitate to reopen this issue or post a new one.

[2019-08-13 17:20] #371 closed

[2019-08-15 18:31] m3toh commented on #364
@vanniktech can you update ios emoji please :blush:

[2019-08-18 06:57] bagvand opened #374 "Fatal Exception: java.lang.OutOfMemoryError"
Hello
I use the last commit of master for my application.
I have one crash in my Fabric panel.

StackTrace:
[code]
What is problem?

[2019-08-18 12:31] vanniktech commented on #374
The problem could be anywhere. Please try the latest SNAPSHOT. Additionally, it could be that you are leaking memory somewhere else and during the Emoji Popup it fails.

Also, I'd recommend you to use LeakCanary to spot memory leaks.

[2019-08-18 12:31] #374 closed

[2019-09-08 09:07] bagvand opened #375 "opening keyboard and emoji in the same time!"
Hello
Device: Galaxy A7 20116.
ModelNumber: SM-A710FD

![Screenshot_20190908-132529](https://user-images.githubusercontent.com/3761338/64486023-2198a280-d23d-11e9-8e22-22231f5192f0.png)

Thnx.

[2019-09-08 10:37] vanniktech commented on #375
Which device is that? https://github.com/vanniktech/Emoji/pull/346 might fix this

[2019-09-10 16:25] vanniktech commented on #361
I'm closing this issue due to inactivity. If you have any further input on the issue, don't hesitate to reopen this issue or post a new one.

[2019-09-10 16:25] vanniktech commented on #354
Nah.

[2019-09-10 16:25] #354 closed

[2019-09-10 16:26] vanniktech commented on #356
I'll cut a new release soon. Do you want this to be part of @rubengees?

[2019-09-10 16:27] vanniktech commented on #364
Will be part of #356

[2019-09-10 16:27] #364 closed

[2019-09-10 16:27] vanniktech commented on #342
I'll cut a new release soon. Do you want to include this @mario ?

[2019-09-10 16:29] mario commented on #354
Lol

On Tue, 10 Sep 2019, 18:25 Niklas Baudy, <notifications@github.com> wrote:

[2019-09-10 17:17] Vitor238 opened #379 "EmojiEditTextInterface does not exist."
Hello. Thanks for developing this amazing library.
I would like to create custom EditTexts and TextViews with Emojis support. According to ReadMe, this requires implementing EmojiEditTextInterface, but it seems that they no longer exist.
How can I create these custom views?

[2019-09-11 17:45] rubengees commented on #356
I'd love to, but not sure how to proceed here. Our data source has not been updated properly, so we can't really update yet (our data sources always become stale :/).

We wait for at least this PR to be merged: https://github.com/iamcal/emoji-data/pull/153

[2019-09-15 11:30] bagvand commented on #375
Device: Galaxy A7 20116.
after merge this #346 the emoji keyboard will be gone.
![Screenshot_20190915-155331](https://user-images.githubusercontent.com/3761338/64920905-dd277c80-d7d1-11e9-8fd5-49c7cd707c18.png)

[2019-09-15 11:32] vanniktech commented on #375
Gone meaning it's fixed or there are still problems?

[2019-09-15 11:35] bagvand commented on #375
No problem exists. Emoji keyboard has gone forever!

[2019-09-15 11:38] vanniktech commented on #375
Good that we haven't merged this yet

[2019-09-22 18:56] mehranj73 opened #381 "need help"
I'm really sorry for my question. I'm having trouble setting this up, maybe I'm just stupid. Can anyone provide me a simple example? Please I really need this. Thank you

[2019-09-22 20:44] rubengees commented on #381
What do you have and what is the problem/error?

[2019-09-23 09:11] vanniktech commented on #356
Would it be possible to maintain a fork of this @rubengees ?

I also want to get started with #102 again. It's the thing that annoys me the most. I always rely on the search

[2019-09-23 09:31] mehranj73 commented on #381
What is 'Don't use bundled AppCompat emojis. Instead download the font' mean? and I can't find dependency for GoogleCompatEmojiProvider.

[2019-09-23 21:21] rubengees commented on #356
Would be possible I guess, but I'm not familiar with how the emoji sheets are generated there.
I also think that a mac book is required, since the images are taken from the installed font files.

[2019-09-24 10:17] #379 closed

[2019-09-24 10:50] mario commented on #361
There is an upcoming fix for this, thanks for reporting.

[2019-09-24 12:20] mario opened #384 "Emoji keyboard open doesn't trigger real keyboard"
Steps:

1) Launch emoji keyboard
2) Close it
3) Launch if again and see that there's no real keyboard behind

[2019-09-24 12:25] mario commented on #342
Dunno, working on other things for the library atm :)

[2019-09-24 14:40] luigbren opened #385 "How?... this library in React Native - Android App"
Hi, how can I adapt this library in React Native to use in my Android App?

[2019-09-24 15:13] vanniktech commented on #385
Write some kind of bridge.

[2019-09-24 15:13] #385 closed

[2019-09-24 18:23] vanniktech commented on #384
Was this after #378 or #373 ?

[2019-09-24 20:37] mario commented on #384
#373 as far as I know for now. Working on it.

[2019-09-25 12:36] e-erbolat opened #387 "Emoji & keyboard shown when user click home(back) button in appbar"
I use emoji ios, when keyboard opened and shown emoji keyboard, user click home(back) button in appbar, after that automatically shown keyboard & emoji keyboard.

- Version of the library: emoji-ios:0.6.0
- Affected devices: LGE LG-K200
- Affected versions: 6.1 (os)

Screenshot: http://prnt.sc/part5g
Video: https://gofile.io/?c=8spjz9

--------------------------------------------------------------

[2019-09-25 15:42] rubengees commented on #387
Duplicate of this: https://github.com/vanniktech/Emoji/issues/375

[2019-09-25 15:42] #387 closed

[2019-09-25 20:40] #361 closed

[2019-09-25 20:57] vanniktech commented on #372
This is supported now #373

[2019-09-25 20:57] #372 closed

[2019-09-25 20:57] vanniktech commented on #381
This is a commit.

[2019-09-25 20:57] #381 closed

[2019-09-25 20:57] vanniktech commented on #381
`GoogleCompatEmojiProvider` is inside the google compat library module.

[2019-09-25 20:58] vanniktech commented on #375
@bagvand do you mind trying #386 ?

[2019-09-26 10:55] mehranj73 commented on #381
I'm using androidx and I couldn't fix my problem.

[2019-09-26 11:04] vanniktech commented on #381
So are we.

[2019-09-26 19:36] mehranj73 commented on #381
What is this error?
Unable to start activity ComponentInfo{com.vanniktech.tryingkeyboard/com.vanniktech.tryingkeyboard.MainActivity}: android.view.InflateException: Binary XML file line #10 in com.vanniktech.tryingkeyboard:layout/activity_main: Binary XML file line #10 in com.vanniktech.tryingkeyboard:layout/activity_main: Error inflating class com.vanniktech.emoji.EmojiEditText

[2019-09-26 20:21] mehranj73 commented on #381
I fixed it by using like this:
       EmojiManager.install(new IosEmojiProvider());
        setContentView(R.layout.activity_main);

[2019-09-26 21:40] vanniktech commented on #381
You're saying you followed the readme?

[code]

[2019-09-27 21:37] mehranj73 opened #388 "Soft keyboard under emoji keyboard"
Hey, I built this simple app. When I touch the emoji button to activate emoji keyboard, the soft keyboard appears under it for a second and it kinda makes it ugly. I compared it Telegram's emoji keyboard which is really smooth.
![a](https://user-images.githubusercontent.com/41204086/65803594-dc0c2d00-e18b-11e9-9aed-e46e854eb4a2.gif)
![b](https://user-images.githubusercontent.com/41204086/65803657-

[2019-10-02 10:33] vanniktech commented on #342
Can you copy paste the code you have into this issue? I need this in a project of mine with `com.google.android.material.appbar.MaterialToolbar`

[2019-10-02 12:20] mehranj73 commented on #388
Why the soft keyboard is activated when I just want the emoji keyboard?

[2019-10-02 12:21] vanniktech commented on #388
There's a method for this in the SNAPSHOT.

[code]

[2019-10-02 12:36] mario commented on #384
Fixed via https://github.com/vanniktech/Emoji/pull/389

[2019-10-02 18:54] mehranj73 commented on #388
It means that it is going to be added in the future stable updates? because I can wait.

[2019-10-02 21:15] vanniktech commented on #388
Yup

[2019-10-02 21:15] vanniktech commented on #388
Will close this and it'll be in 0.7.0 which I'll cut soon-ish

[2019-10-02 21:15] #388 closed

[2019-10-02 21:18] vanniktech commented on #384
Thanks! Currently, blocked by the issue @rubengees found.

[2019-10-02 21:41] mehranj73 commented on #388
nice

[2019-10-03 12:43] mario commented on #342
Closing in favour of a layout factory.

[2019-10-03 12:43] #342 closed

[2019-10-03 12:43] mario commented on #375
This is considered fixed. If it happens again, please re-open.

[2019-10-03 12:43] #375 closed

[2019-10-03 12:43] mario commented on #384
Fixed so closing.

[2019-10-03 12:43] #384 closed

[2019-10-03 13:18] vanniktech opened #398 "Unify code across widgets"
So we have less copy pasta

[2019-10-04 19:33] mehdiyari opened #400 "remove popup, top elevation"
hi
how i can remove the top Elevation of popup window ?
![image](https://user-images.githubusercontent.com/22986099/66234622-08c7c380-e6fb-11e9-863f-09c591ffab57.jpg)

edit :
its not elevation of popupwindow its elevation of keyboard ? why keyboard must be open when
emojPopupWindow is open ?

[2019-10-05 08:58] eugene-kirzhanov opened #401 "Migrate to AndroidX"
This library is one of the few that are preventing us from turning off jetifier (which would be a big build performance improvement). Are there any plans to upgrade to androidx?

[2019-10-05 09:01] eugene-kirzhanov commented on #401
Oh, sorry. Did not notice that this has already been done, but was not released yet.

[2019-10-05 09:01] #401 closed

[2019-10-05 15:55] vanniktech commented on #400
Try the latest snapshot. It might be gone there

[2019-10-14 19:22] mario opened #404 "Rip-off?"
This library looks like a serious rip-off of what we're working on here.

https://github.com/TutorialsAndroid/SEmojis/tree/master/semojis

While it's not a straight copy & paste at most places, the inspiration and parts of the code more than obviously come from us.

Annoying as even the licence requires that we're mentioned and they can't just copy stuff and claim its theirs.

[2019-10-14 19:35] rubengees commented on #404
Looks like it's based off of SuperNova-emoji which this library is also based on (isn't it?). I don't think that's too bad, maybe we can steal some ideas from them too :)

[2019-10-14 19:40] mario commented on #404
Aaaah, had no idea about the history of this library. Thanks for letting me know.

[2019-10-14 19:40] #404 closed

[2019-10-15 09:56] vanniktech commented on #404
Yup true

[2019-10-15 09:57] vanniktech opened #407 "Update README with new release"
Tons of new changes. LayoutFactory, emoji only, inputfilter etc

[2019-10-17 16:39] vanniktech opened #408 "ee9b8ebb broke EmojiPopup for custom views using it"
I'll create a repro / sample soon

[2019-10-23 10:25] nAkhmedov commented on #278
I am facing the same issue on 0.6.0 version, any news?

[2019-10-23 11:33] mario commented on #408
Where is the sample? :)

[2019-10-23 11:34] mario commented on #278
I'll look into it.

[2019-10-23 12:53] vanniktech commented on #408
Been stomped with work but haven't forgotten about this

[2019-10-23 13:28] vanniktech commented on #408
There you go @mario  https://github.com/vanniktech/Emoji/pull/409

[2019-10-23 14:24] mario opened #412 "Allow adjustments to offset cost of 250ms delay"
Modify the keyboard height builder parameter to allow setting ONLY initial height thus offsetting 250ms delay in case you can get keyboard height earlier (which most apps do, say in their login screens).

[2019-10-23 21:55] mario commented on #278
https://issuetracker.google.com/issues/36991688

Google issue. Let me see if it's trivial to workaround.

[2019-10-25 02:40] welbertim opened #413 "Emoji and Keyboard are showing together"
- Version of the library: 0.6.0
- Affected devices: Xiaomi Redmin Note 7

Everything was working fine, but today stopped work
![device-2019-10-24-233559](https://user-images.githubusercontent.com/23161715/67539123-8a39c280-f6b7-11e9-9b7c-34390cf2624b.png)

----------------------------------------------------------------------

[2019-10-25 04:25] welbertim commented on #413
Hey
I figured out that an app that used draw over other apps permission cause this issue:

https://play.google.com/store/apps/details?id=com.inscode.autoclicker&hl=en_US

When I unistalled, everything back to work fine.

But this will be fixed?
Thanks

[2019-10-25 07:57] vanniktech commented on #413
Interesting. Can you try the 0.7.0-SNAPSHOT. @mario did some awesome work for fix some of the issues

[2019-10-26 12:49] suf4dev opened #414 "too many Outofmemory execptions"
Library version : 0.7.0-SNAPSHOT
The app crashes at this point . this is the stacktrace from google crash reporting
java.lang.OutOfMemoryError
com.vanniktech.emoji.EmojiView.inflateButton

java.lang.OutOfMemoryError:
  at dalvik.system.VMRuntime.newNonMovableArray (VMRuntime.java)
  at android.graphics.BitmapFactory.nativeDecodeAsset (BitmapFactory.java)
  at android.graphics.BitmapFactory.decodeS

[2019-10-26 14:06] vanniktech commented on #414
No action to take. Install LeakCanary and maybe you have some more memory leaks in your application which are causing this. I don't have any problems in my project.

[2019-10-26 14:06] #414 closed

[2019-11-05 08:31] Shudy opened #415 "Keyboard not opening"
First of all thanks for you work on this library.

At this moment I'm trying to display de emoji keyboard, but following the steps of the example and documentation is not working at this moment.

What I'm doing?
In the fragment, when the view is created I build the keyboard:

[code]
The `rootview` is the _id_ of the ConstraintLayout  of the fragment, and `emojiEditText` is the `EmojiEditText`.

Th

[2019-11-05 08:37] vanniktech commented on #415
Can you try the sample project / the latest snapshot?

@rubengees did a lot of fantastic bug fixes

[2019-11-05 09:36] Shudy commented on #415
Before write the post I tried with `com.vanniktech:emoji-ios:0.6.0` and `com.vanniktech:emoji-ios:0.7.0-SNAPSHOT`

I'll download the sample project and try to compile. I tell you something asap

[2019-11-05 13:22] bagvand commented on #375
@vanniktech @mario
After using the last commit of branch master, our problem of keyboard and emoji keyboard becomes worst.
the number of users that are unsatisfied becomes bigger.

[2019-11-05 18:31] BennieBe opened #416 "Adding support for gif animations?"
Hi there,

Is it possible to add gif animations instead of emojicons into the different category tabs?
If yes, a small example where to look and how to achieve this would be helpful :)

Thanks!

[2019-11-07 11:29] Rahulshiva opened #417 "emoji showing in full screen"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library:   implementation 'com.vanniktech:emoji-google:0.6.0'
    implementation 'com.vanniktech:emoji-google:0.6.0-SNAPSHOT'
- Affected devices: all
- Affected versions:all

Hii while i am using it first time then it showing in full screen while at the secon

[2019-11-07 11:50] KishoreBaktha commented on #278
Any progress on this?

[2019-11-07 11:55] mario commented on #417
Test with snapshot.

On Thu, 7 Nov 2019, 12:29 Rahulshiva, <notifications@github.com> wrote:

[2019-11-07 11:56] mario commented on #278
None, I am deciding on the best approach.

On Thu, 7 Nov 2019, 12:50 Kishore B, <notifications@github.com> wrote:

[2019-11-07 12:03] KishoreBaktha commented on #278
Okay, please let me know when you have decided on the solution :)

[2019-11-07 16:53] rubengees commented on #416
The categories have `Emoji` instances which return `Drawable`s. It might be possible to add a custom `Emoji` class in a category, which returns `AnimationDrawable`s or some gif `Drawable` implementation.

This would most likely require changes on the library though, since one has to start the animation of the `Drawable` iirc.

Please go ahead and explore if you like :).

[2019-11-07 20:42] BennieBe commented on #416
Hi @rubengees,

Thanks for the information!
I think I will try to extend the the lib to support animations and make a PR for it!

[2019-11-07 22:52] vanniktech commented on #413
I'm closing this issue due to inactivity. If you have any further input on the issue, don't hesitate to reopen this issue or post a new one.

[2019-11-07 22:52] #413 closed

[2019-11-17 07:48] Mr-Ramzan commented on #300
were you able to solve the issue,  please  share the solution

[2019-11-17 08:38] Mr-Ramzan opened #418 "Server gets [ "=\u0001" ] like Unicode strings for emoji while sent from client application."
I am using [0.6.0 ] version ---- IOS type Emoji.

I am having an issue while sending emoji to the server as they get converted to some random Unicode strings. Encoding I am using for my send data is  UTF-8, and I am converting data before sending it to byteArray(Charsets.UTF-8).
![image](https://user-images.githubusercontent.com/36961360/69005195-4f3a5000-0940-11ea-9934-94f25bb41d20.png)
The above

[2019-11-17 11:17] BennieBe commented on #416
Hi @rubengees,

So I got to the point where I am having the necessary data to show the animation in the chat view.
I got stuck though during the part where you draw the animation. Somehow the bitmap frames (using an AnimationDrawable) do not get passed and I cannot find the issue. Is it possible for me to create a branch and make a commit here?

[2019-11-17 12:17] rubengees commented on #416
You can fork the project and make a (draft) PR :)

[2019-11-18 10:41] BennieBe commented on #416
Hi @rubengees,

I created a draft PR. I might have accidentally forgotten to add reviewers ;)
Anyways, I would appreciate if someone could have a look at it!

[2019-11-26 06:15] flexsingit opened #421 "Emoji Replace - Some male Emoji replace to female"
Some male emoji replace to female emoji. I have tested on below mention devices.
1. Samsung Note 9
2. Samsung Note II

**- Library:**
implementation 'com.vanniktech:emoji-ios:0.6.0'
EmojiManager.install(new IosEmojiProvider());

Also try by replacing link with library module.
Please suggest how to resolve this issue.

![IMG-20191125-WA0000](https://user-images.githubusercontent.com/25687998/696041

[2019-12-25 09:43] lvTravler opened #422 "EmojiEditText . InflateException"
Caused by: android.view.InflateException: Binary XML file line #52: Binary XML file line #52: Error inflating class com.vanniktech.emoji.EmojiEditText
     Caused by: android.view.InflateException: Binary XML file line #52: Error inflating class com.vanniktech.emoji.EmojiEditText

[2019-12-25 10:49] vanniktech commented on #422
Check the sample please

[2019-12-25 10:49] #422 closed

[2020-01-08 08:03] clp334264003 commented on #362
Has the problem been solved? I met it, too

[2020-01-09 04:27] ALiSHERBE opened #423 "Emoji keyboard does not open in android 19"
Hi, Emoji keyboard does not open in android 19.

[2020-01-10 21:51] mario commented on #418
Issue with the way you send stuff/store it, not with the lib - sorry.

[2020-01-10 21:51] #418 closed

[2020-01-10 21:51] mario commented on #415
@Shudy any news?

[2020-01-10 21:53] mario commented on #408
Fixed by the PR? :)

[2020-01-11 20:21] vanniktech commented on #408
Haven't forgotten about this. Will be busy the next 1-2 weeks though

[2020-01-13 07:33] whysusu opened #424 "emojiPopup and keyboard overlap"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library:0.5.1
- Affected devices: HUAWEI P30
- Affected versions:

Screenshot(s) showing the issue and reprodution steps are appreciated.

----------------------------------------------------------------------_
![TIM图片20200113152421](https://user-images.githu

[2020-01-29 11:05] vanniktech commented on #278
@mario gentle push, can we solve this? If not, let's close

[2020-01-29 11:05] vanniktech commented on #344
We can start doing this right? I think they updated their sources @rubengees

[2020-01-29 11:05] vanniktech commented on #356
The PR was merged

[2020-01-29 11:06] vanniktech commented on #412
Still relevant?

[2020-01-29 11:06] vanniktech commented on #415
I'm closing this issue due to inactivity. If you have any further input on the issue, don't hesitate to reopen this issue or post a new one.

[2020-01-29 11:06] #415 closed

[2020-01-29 11:06] mario commented on #278
We can, just I didn't have the time yet.

[2020-01-29 11:06] vanniktech commented on #417
I'm closing this issue due to inactivity. If you have any further input on the issue, don't hesitate to reopen this issue or post a new one.

[2020-01-29 11:06] #417 closed

[2020-01-29 11:07] mario commented on #412
With the existing PR, yes. But I'm still thinking about this.

[2020-01-29 11:07] vanniktech commented on #421
I don't follow. As to my knowledge this works correctly.

[2020-01-29 11:07] #421 closed

[2020-01-29 11:07] vanniktech commented on #423
Please try the latest snapshot

[2020-01-29 11:07] #423 closed

[2020-01-29 11:08] vanniktech commented on #424
Please try the latest snapshot.

[2020-01-29 11:08] #424 closed

[2020-01-30 09:45] rubengees commented on #344
Yes, will look soon at updating :+1:

[2020-01-30 12:29] Rahulshiva commented on #417
sorry sir i left that project.

On Wed, Jan 29, 2020 at 4:37 PM Niklas Baudy <notifications@github.com>
wrote:

[2020-02-03 19:13] mario commented on #400
Closing due to inactivity and because it should be fixed.

[2020-02-03 19:13] #400 closed

[2020-02-03 19:26] #344 closed

[2020-02-26 08:02] nasirlordno1 opened #427 "Emojipopup.toggle working on API 27 and less but not working on API 28"
- Version of the library: tried both 0.6.0 and 0.7.0
- Affected versions: API 28

I am using this library for my project ,on button click its supposed to show emoji keyboard,its working correctly on All devices with API 27 or less but same code not working on API 28,i have tried 3 devices with API 28.

public void setUpEmojiPopup() {
        emojiPopup = EmojiPopup.Builder.fromRootView(rootView)

[2020-03-04 19:04] AlexMercier opened #428 "How to add custom button to categories tabs?"
Does this library support method to add custom button to categories tabs?
I want to add "Show Keyboard" button as first item in tab
![2020-03-04_215501](https://user-images.githubusercontent.com/6580198/75913407-ebdb1c00-5e63-11ea-8b9f-467d70f99482.png)

[2020-03-22 09:11] vanniktech commented on #428
Show keyboard isn't possible and we would not want that.

[2020-03-22 09:11] #428 closed

[2020-03-22 09:11] vanniktech commented on #427
Can you check with master version?

[2020-03-22 09:16] AlexMercier commented on #428
Ok, but can I add custom button with custom action to categories tabs panel?

[2020-03-22 09:18] vanniktech commented on #428
You can add just emojis yes.

https://github.com/vanniktech/Emoji/blob/master/emoji/src/main/java/com/vanniktech/emoji/emoji/EmojiCategory.java

[2020-03-25 05:16] nasirlordno1 commented on #427
It working on master version .

[2020-03-25 07:45] vanniktech commented on #427
Then please use the snapshot version for now.

[2020-03-25 07:45] #427 closed

[2020-03-25 09:04] binhhoit opened #429 "load wrong emoji EmojiTextView android < 8.0"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library: 0.6.0
- Affected devices: HTC M9 and Sony XA plus
- Affected versions: android < 8.0

Screenshot(s) showing the issue and reprodution steps are appreciated.
error android 7 HTC
![image](https://user-images.githubusercontent.com/29090540/77519378-f5c7

[2020-03-25 09:24] vanniktech commented on #429
Please try out the sample and use the latest commit from master.

[2020-03-25 10:07] binhhoit commented on #429
Hi @vanniktech,
I am using vs implementation 'com.vanniktech:emoji-ios:0.6.0' and error.
But Do you have new vs release?

[2020-03-25 10:11] binhhoit commented on #429
I using emoji of iPhone comment and reading in android vs <9.0. I thing android can't load it, you try ex icon above image.

[2020-04-09 19:58] mario opened #430 "Update README with Facebook emojis & screenshots"
Thanks :D

[2020-04-09 20:01] mario commented on #407
You should do this :P

[2020-04-09 20:02] mario commented on #356
So closing this :)

[2020-04-09 20:02] #356 closed

[2020-04-10 06:51] vanniktech commented on #407
Planning to merge #409 and cut a new releasee, any objections @mario @rubengees ?

[2020-04-10 06:53] mario commented on #407
I want an updated readme (for this particular issue), https://github.com/vanniktech/Emoji/issues/430 fixed, and also fixing this https://github.com/vanniktech/Emoji/pull/410 (this I'll do in the coming week). Is that ok?

[2020-04-10 07:27] vanniktech commented on #407
Yep sure. Let's do a release next week

[2020-04-10 07:28] vanniktech commented on #407
README i'll update when I do the release

[2020-04-10 10:09] Pro-Cyborg opened #431 "Crashes my app"
The library crashes my and shows error in emojiEditText I don't know why.

[2020-04-10 10:31] vanniktech commented on #431
Yeah neither do I and you didn't include any information.

[2020-04-10 10:31] #431 closed

[2020-04-14 13:32] andysagar opened #432 "The passed Context is not an Activity"
I am facing this issue i android 9 after implementation of this keyboard in window manager custom view

[2020-04-14 13:43] vanniktech commented on #432
Problem is on your side.

[2020-04-14 13:43] #432 closed

[2020-04-15 12:15] grizzlyuser opened #433 "Possible licensing issues for actual emoji glyphs"
- Version of the library: 0.7.0 (In development), master branch, commit d13e8fa273b20bd373f3479e4433f2961c978c30
- Affected devices: Possibly all
- Affected versions: Possibly all

It seems that some of the actual emoji glyphs available in this repository are proprietary and not compatible with the license of the current project (Apache 2.0).

For example, for [Apple emoji set](https://github.com/

[2020-04-15 14:32] Gregadeaux opened #434 "Snapshot URL no longer works"
Trying to download 0.7.0-SNAPSHOT but cannot sync. Going to the URL in a browser displays

`Directory listing forbidden`

[2020-04-17 14:27] DevEventlab commented on #422
Caused by: android.view.InflateException: Binary XML file line #53: Error inflating class com.vanniktech.emoji.EmojiEditText

What should i do?

[2020-04-20 07:54] mario commented on #430
@vanniktech I'll have time for my one remaining ticket tonight. Can you please prepare a README PR with this and the other things we added so I can look into it? :)

Thanks!

[2020-04-23 14:39] vanniktech commented on #430
I'll do this once we've got everything otherwise some things are missing

[2020-04-29 13:26] #408 closed

[2020-04-30 02:07] pingpingsim opened #437 "Emoji popup overlapping with keyboard issue"
I'm using version 'com.vanniktech:emoji-google:0.5.1' but with that,  I came across above issue and able to resolve it by switching to the SNAPSHOT version. However it does not work anymore (will crash during emoji display) when minifyEnabled is set to TRUE. Same happens when I use implementation 'com.vanniktech:emoji-google:0.6.0'.  Is there anything I need add at the proguard rules so it will wo

[2020-04-30 06:45] vanniktech commented on #437
Nope. No proguard needed. Can you reproduce in the sample app?

[2020-04-30 06:45] vanniktech commented on #434
I can resolve the snapshot.

[2020-04-30 06:45] #434 closed

[2020-05-06 09:40] nAkhmedov opened #438 "Android not supporting Factory Worker emoji"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library: 0.6.0
- Affected devices: Nexus 5
- Affected versions: 6.0.1

https://emojipedia.org/factory-worker/

🧑‍🏭

If i receive this emoji from iOS, it is appearing person + factory emoji

![image](https://user-images.githubusercontent.com/8067423/81162959-7

[2020-05-06 18:14] jeeke opened #439 "Emoji popup coming above the keyboard"
- Version of the library: 0.6.0
- Affected devices: Pixel 3a XL Emulator

![Screenshot_1588788391](https://user-images.githubusercontent.com/58397433/81213022-6571c080-8ff3-11ea-82c4-1fbe6b31cc06.png)

[2020-05-06 18:16] mario commented on #439
Use master

On Wed, 6 May 2020, 20:14 jeeke, <notifications@github.com> wrote:

[2020-05-06 18:43] jeeke commented on #439
Already on master

![Screenshot_1588790335](https://user-images.githubusercontent.com/58397433/81215736-64db2900-8ff7-11ea-9e7a-f2424662db7b.png)

[2020-05-09 01:50] hlzIrving opened #440 "implementation ' com.vanniktech：emoji：0.6.0 ' 使用EmojiEditText在布局文件直接崩溃"
有人碰到这问题嘛

[2020-05-11 20:41] themadmrj opened #441 "Memory leak EmojiPopup #369 not solved?"
Using the last available version (0.7.0-SNAPSHOT) which includes the `OnAttachStateChangeListener`, I still have a memory leak, both on android 7 (physical device) and emulator (android 9 or 10).
I used 0.7.0-SNAPSHOT instead of master exactly because, but in the end, instead of leaking the `OnGlobalLayoutListener`, `EmojiPopup.java` leaks `onAttachStateChangeListener` in my case.
CanaryLeaks give

[2020-05-11 23:05] themadmrj commented on #441
Ok, so I integrated your library in my project to be able to edit the code and after a few tests, I noticed `onViewDetachedFromWindow` is never called when switching to another `Fragment`. That's the problem, since as detailed here [https://stackoverflow.com/questions/29021316/when-are-views-attached-and-detached](url), there is no garantee that the `View` is detached. Therefore relying on `onView

[2020-05-17 13:24] srivishnu888 commented on #191
What is the solution for this?

[2020-05-30 06:16] vanniktech commented on #441
@mario your thoughts?

[2020-05-30 06:16] vanniktech commented on #440
Can't speak chinese 🤷

[2020-05-30 06:16] #440 closed

[2020-05-30 06:16] vanniktech commented on #439
@mario what could be the reason for this?

[2020-05-30 06:17] vanniktech commented on #438
There's something wrong with your string handling, this works in many apps that I'm working on

[2020-05-30 06:17] #438 closed

[2020-05-30 06:17] vanniktech commented on #437
I'm closing this issue due to inactivity. If you have any further input on the issue, don't hesitate to reopen this issue or post a new one.

[2020-05-30 06:17] #437 closed

[2020-05-30 06:21] vanniktech commented on #433
I'm wondering how come we can download them from our source then. @rubengees do you know anything?

Worst case we'll ditch iOS emojis. I haven't used them in months. Switched to Google's Emojis.

[2020-05-30 06:23] #429 closed

[2020-05-30 06:23] vanniktech commented on #412
What's the state here @mario ?

[2020-05-30 06:24] vanniktech commented on #430
Will do this with #407

[2020-05-30 06:24] #430 closed

[2020-05-31 05:16] LuoYang2412 opened #444 "MainDialog ORIENTATION_LANDSCAPE ,emojiPopup and keyboard overlap"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library: master branch
- Affected devices: OnePlus A5000
- Affected versions: Android 9

Screenshot(s) showing the issue and reprodution steps are appreciated.

----------------------------------------------------------------------
Layout Inspector ok
![IMG_2

[2020-05-31 08:55] vanniktech commented on #444
Interesting. Being honest, I'm not using landspace. Mind trying to submit a PR that fixes this?

[2020-05-31 11:42] rubengees commented on #433
Obligatory IANAL.

Our source simply extracts them from the fonts on macOS. It's not like they are from an official source. There seems to be no license for apple emojis so I'm not sure if it's fine to use them without getting an agreement. But I also never heard of Apple to complain about inappropriate usage und if it's fine to distribute the images in a library in the middle like we do or not.

[2020-05-31 13:45] vanniktech commented on #144
I really want this. @rubengees what's the easiest way we can get the tags? Once we have them we can build some UI.

[2020-05-31 14:11] mario commented on #439
Not instantiating early enough?  Unless there's a minimal sample I can use to reproduce...

[2020-05-31 14:12] mario commented on #444
Is this in the sample app?

[2020-05-31 14:37] vanniktech commented on #444
Yeah.

[2020-05-31 14:37] vanniktech commented on #439
It's the sample app he's using.

[2020-05-31 14:37] #398 closed

[2020-05-31 15:53] rubengees commented on #144
I can do a PR for the tags I think.

[2020-05-31 16:48] vanniktech commented on #144
Much appreciated!

[2020-06-01 10:02] grizzlyuser commented on #433
AFAIK, if there's no license, then it's proprietary by default. Please see https://www.gnu.org/licenses/license-list.html#NoLicense

Examples of Apple enforcement are available in the issue description. If the project is going to keep these emoji, it won't hurt to ask Apple for permission. But for a true FLOSS project, I think it's better to just stay away from all non-free stuff.

[2020-06-01 10:10] vanniktech commented on #441
Huh. In my code I'm settting `emojiPopup` to null which should do the job.

[2020-06-01 10:10] #441 closed

[2020-06-01 10:12] themadmrj commented on #441
That does not work for me

[2020-06-01 10:36] vanniktech commented on #441
Why? Make it nullable and clear it in your appropriate Fragment lifecycle method

[2020-06-03 20:18] chinnychin19 opened #449 "EmojiUtils.isOnlyEmojis("⭐️") returns false"
- Version of the library: `com.vanniktech:emoji-google:0.6.0`
- Affected devices: *
- Affected versions: *

Repro:

[code]

[2020-06-05 13:03] themadmrj opened #450 "Emojis do not show the first time on a slow device"
- Version of the library: 0.7.0-SNAPSHOT
- Affected devices: tested on a Samsung Galaxy A310-F

Here's how to reproduce it:
1. start the `Fragment `or `Activity `containing the `EmojiPopup` without having the `EmojiEditText `being focused directly. Therefore the `Softinput keyboard` is still closed.
2. show the popup by clicking any `ImageView `which calls `.toggle()`
3. on a slow device, `updateK

[2020-06-05 13:07] rubengees commented on #450
Would you be interested in submitting a PR for that? :slightly_smiling_face:

[2020-06-05 13:10] themadmrj commented on #450
Gladly, but I've never done that (everyhing I know is self-taught), so I would need to do some research before!

[2020-06-19 11:03] SourceEngine opened #451 "EmojiKeyboard wrong initial height in fragment"
- Version of the library: 0.6.0
- Affected devices: Tested on Samsung S8 - S10, Huawei, Xiaomi, Motorola (presumably more devices affected)
- Affected versions: Android 7.1 - 9

**Image showing the error is attatched bellow**

Currently iam implementing the `EmojiKeyboard` in a `BottomSheetDialog`.
I have tried building the `EmojiPopup` as followed:

[code]

[code]

When pressing the `EditText` i

[2020-06-19 11:04] vanniktech commented on #451
Yeah. Can you try with https://github.com/vanniktech/Emoji/pull/448 ?

[2020-06-19 12:05] SourceEngine commented on #451
I have tried it as #448 describes:
[code]

Sadly still the same result

[2020-06-23 00:50] chinnychin19 commented on #449
update: I think this is because sometimes stars include a [`\u65039`](https://www.fileformat.info/info/unicode/char/fe0f/index.htm) after them. It is called a `VARIATION SELECTOR-16` and I think it's incorrectly not being included as part of the emoji.

[2020-06-23 05:16] vanniktech commented on #449
There exists a mechanism to detect duplicate emojis. Emoji takes a `isDuplicate` boolean and only the generator would need to be changed.

https://github.com/vanniktech/Emoji/blob/master/generator/index.js#L52

[2020-06-23 08:15] LiMengyang990726 commented on #261
Where is the sample app?

[2020-07-06 17:51] 3llomi commented on #218
@vanniktech i am working on adding a 'Stickers' tab, if you are interested i can make a PR, otherwise i would make my own fork if you are okay with that

[2020-07-06 20:28] vanniktech commented on #218
I'd be interested in stickers; though they'd need to live in their own artifact. Would you be open for that idea?

[2020-07-06 20:36] 3llomi commented on #218
@vanniktech Yeah,sure, so it would be like 'emoji-with-stickers' for example right?

[2020-07-07 05:12] vanniktech commented on #218
Just, `emoji-stickers`.

[2020-07-07 18:36] 3llomi commented on #218
#453 @vanniktech  please check the PR out.

[2020-07-11 11:38] vanniktech commented on #444
Can you please try with the changes from #452?

[2020-07-11 11:38] #444 closed

[2020-07-11 11:41] vanniktech commented on #451
The view should have a parent though, should not it?

[2020-07-11 11:41] vanniktech commented on #449
@chinnychin19 do you want to contribute the change?

[2020-07-11 11:43] vanniktech commented on #433
For now let's sit this out. If our source get's rid of ios emojis, we'll do the same. Thanks for raising this poiint @grizzlyuser

[2020-07-11 11:43] #433 closed

[2020-07-11 11:44] vanniktech commented on #412
Let's make it configurable if anyone actually needs it.

[2020-07-11 11:44] #412 closed

[2020-07-11 11:49] vanniktech commented on #450
I'm closing this issue due to inactivity. If you have any further input on the issue, don't hesitate to reopen this issue or post a new one.

[2020-07-11 11:49] #450 closed

[2020-07-11 11:52] vanniktech commented on #439
Thanks for fixing it in #452

[2020-07-11 11:52] #439 closed

[2020-07-11 11:52] vanniktech commented on #451
Also, please test out the latest master, there were some bug fixes.

[2020-07-11 11:52] #451 closed

[2020-07-11 11:53] vanniktech commented on #278
Not worth it in my opinion. Feel free to convince me though.

[2020-07-11 11:53] #278 closed

[2020-07-11 12:22] vanniktech commented on #449
Never mind. I've got it.

[2020-07-16 14:01] drmkraja opened #457 "Emoji keyboard is not popping up ?"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library: 0.7.0-SNAPSHOT
- Affected devices: All
- Affected versions: All

Screenshot(s) showing the issue and reprodution steps are appreciated.

----------------------------------------------------------------------

Thanks for the Awesome lib. I tried to ru

[2020-07-21 09:01] #331 closed

[2020-07-21 09:01] #449 closed

[2020-07-21 09:04] vanniktech commented on #457
Seems like a problem with your code if you're getting a NPE.

[2020-07-21 09:04] #457 closed

[2020-07-21 09:04] #416 closed

[2020-07-22 12:12] TestereNecmi opened #458 "Rich text formats support"
What do you think of rich text support like bold, italic etc. ?

[2020-07-22 12:18] vanniktech commented on #458
It's tempting. I won't implement it myself though.

[2020-07-24 02:20] Zara-zh opened #459 "System keyboard and emoji keyboard overlap"
Thank you for sharing your code. I was trying the sample with the latest code

Affected device: Android studio emulator Pixel

Affected version: Android 7

This issue only happens to dialog fragment.

![image](https://user-images.githubusercontent.com/57333294/88355330-84d4ea00-cda7-11ea-9868-efac1c67c605.png)

[2020-07-24 04:56] vanniktech commented on #459
Is this on latest master?

[2020-07-24 05:11] Zara-zh commented on #459
Yes, I cloned the code yesterday

[2020-07-24 05:15] vanniktech commented on #459
Would you be trying to find a fix for it? Also, we've had some commits in the past which might have broken this:

https://github.com/vanniktech/Emoji/commit/abcda1a5c0ca05d452ee25cb224dc36a8d66b193
https://github.com/vanniktech/Emoji/commit/cf14158332e35fa259e0c2e2066d374a6e2a2fd2

[2020-07-24 05:22] Zara-zh commented on #459
Thanks for letting me know. I'll try to find a fix for it.

[2020-07-30 01:50] BharatWadhwa opened #461 "Need assistance in using lib"
I need one help while implementing this awesome lib. Is there any way I can show the emoji pop up as normal android dialog instead of over the keyboard.

Help is much appreciated.

[2020-07-30 06:21] vanniktech commented on #461
Sure there might be one, happy to take a PR but I won't implement it. Alternatively, I'm a freelancer so you can also book it 🤷

[2020-08-01 20:48] #461 closed

[2020-08-04 10:50] vanniktech commented on #458
I'm closing this issue due to inactivity. If you have any further input on the issue, don't hesitate to reopen this issue or post a new one.

[2020-08-04 10:50] #458 closed

[2020-08-06 23:25] hufersil opened #463 "Error when activating Proguard"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library: 0.6.0
- Affected devices:
Android 9
Android 10
Android 6.0
Android 8.1
and others

Screenshot(s) showing the issue and reprodution steps are appreciated.

- create a EmojiEditText in xml
- export a build with proguard active with the settings bellow:

[2020-08-07 05:51] vanniktech commented on #463
Seems unlikely. I'm using R8 in all my apps and having no problems. Could also be a R8 problem.

[2020-08-07 05:51] #463 closed

[2020-08-12 12:29] sha256 opened #464 "Classes are public but constructors are not!"
Hi, Thanks for the awesome library!

I think this library could offer a great deal of customization. The only problem is, using package private constructors instead of public constructor. For example:

classes are declared like this:
`public final class EmojiPagerAdapter`

but constructors are:
`EmojiPagerAdapter(final OnEmojiClickListener listener,
                    final OnEmojiLongClickListen

[2020-08-12 14:16] vanniktech commented on #464
Probably a mistake. I don't want people to reuse the internals.

[2020-08-12 15:16] #464 closed

[2020-08-19 19:18] vanniktech commented on #459
I'm closing this issue due to inactivity. If you have any further input on the issue, don't hesitate to reopen this issue or post a new one.

[2020-08-19 19:18] #459 closed

[2020-08-19 21:14] vanniktech commented on #407
https://github.com/vanniktech/Emoji/releases/tag/0.7.0 is out of the door

[2020-08-19 21:14] #407 closed

[2020-08-20 22:35] jeanraymonddaher opened #466 "is it possible to have an emoji only keyboard input type ?"

[2020-08-21 07:26] vanniktech commented on #466
Yep. Check out the sample.

[2020-08-21 07:26] #466 closed

[2020-08-27 19:16] pcshedeur opened #467 "Emoji Popup Window Not Covering soft keyboard completely"
![device-2020-08-27-191327](https://user-images.githubusercontent.com/65104440/91485009-038ade80-e8a2-11ea-9d51-24e50df7e80e.png)

I have tried everything to make the emoji popup to cover the keyboard but not work. Any help please.

[2020-08-28 13:47] vanniktech commented on #467
Please try out the sample and see if you can reproduce there

[2020-08-28 17:54] hvar90 opened #468 "toggle() not showing emoji keyboard"
library 'com.vanniktech:emoji-ios:0.7.0'
i tested it on android 9 and 10
samsung A30 s

the error is very similar to this problem https://github.com/vanniktech/Emoji/issues/450

but when i use toggle() never shows the emoji keyboard just open the normal keyboard
but if i use show() the second time i use show() the emoji keyboard is showed but it takes the whole screen

i use emoji keyboard in two

[2020-08-28 18:59] vanniktech commented on #468
Try reproing somehow in the demo app - otherwise feel free to take a stab at a PR.

[2020-09-02 07:35] nAkhmedov commented on #218
It would be better to add ability extra tabs.

[2020-09-02 08:49] hvar90 commented on #468
i just could discover 2 things
using com.vanniktech:emoji-ios:0.6.0 works well
and when i do not call
emojiPopup.dismiss();
on the SoftKeyboardCloseListener
the behaviour change a little
this happens : if the toggle() method is called twice the  the emoji keyboard is showed but it takes the whole screen
but if i call emojiPopup.dismiss(); on the SoftKeyboardCloseListener
calling   toggle() 1 or ma

[2020-09-02 08:58] nAkhmedov opened #469 "How can i add sticker support to this lib?"
I want to add sticker support as well by using this lib, anyone can help to solve the issue? Thanks in advance!

[2020-09-02 15:28] z1x8 opened #470 "add an onSelectionChanged listener"
Hi, please add a listener to onSelectionChanged. you need to track the cursor position in edittext for this task

[2020-09-02 18:12] vanniktech commented on #469
You can't. #453

[2020-09-02 18:12] #469 closed

[2020-09-02 18:12] vanniktech commented on #468
Yeah take the first step and wind down. Other than that, no.

[2020-09-02 18:14] vanniktech commented on #470
You can use your own TextView

[2020-09-02 18:14] #470 closed

[2020-09-02 22:43] hvar90 commented on #468
how can use the library as a module ?
i downloaded the library but when i try to use it
i get messages like "Cannot get property 'compileSdkVersion' on extra properties extension as it does not exist"
what is the correct configuration to use the library as a local module

i want to test and chage locally the code of the library to identify and resolve the problem

[2020-09-03 06:50] vanniktech commented on #468
Clone this repository and use the sample app

[2020-09-03 06:55] hvar90 commented on #468
i tried to reproing my problem with the sample app but there everthing works well
only in my code works bad and i do not know where is coming the problem

[2020-09-03 07:06] vanniktech commented on #468
Then the problem is on your side. If you can repro in the sample, feel free to write here again.

[2020-09-03 07:06] #468 closed

[2020-09-04 05:51] MFlisar opened #472 "Popup shows above keyboard and not on top of it"
## Informations

- Version of the library: master branch of today
- Affected devices: Samsung S9
- Affected versions: Android 9

## Reproduction

Simply run the demo app, click the edit text and click the emoji button and you will see following 3 screens:

1. Open app

![Screenshot_20200904-074330_Emoji](https://user-images.githubusercontent.com/2437726/92204026-d54d6600-ee82-11ea-9f87-9dff6e7e04d

[2020-09-05 11:34] hvar90 commented on #468
i could not find the problem but i could find the solution
[code]

i think on some situations the popup has a weird behaviour and writing on manifest
this android:windowSoftInputMode="stateVisible|adjustResize"
the problem is fixed

[2020-09-05 11:39] hvar90 commented on #472
i had a weird behavior with the popup and changing the manifest i fixed the problem
try this https://github.com/vanniktech/Emoji/issues/468 maybe it works

[2020-09-05 17:36] MFlisar commented on #472
Thanks for the idea but the demo does have the `adjustResize` flag enabled already.

https://github.com/vanniktech/Emoji/blob/6d33b3a68ed9b3102c8d574a7669d44d7da1a57b/app/src/main/AndroidManifest.xml#L16

[2020-09-20 06:23] mihir0109 opened #473 "Just want to open popup without edittext usage"
Is there any possibility to use as bottomsheet or popup view? I don't have edittext.. I just want to open to select emoji on any button click.. and then close it.

[2020-09-20 06:51] vanniktech commented on #473
Not yet. Do you want to contribute this?

[2020-10-01 13:03] IronManIsTheMan opened #474 "Popup takes up full screen when in adjustPan mode"
# Reproduction
With this code
 `<activity android:name=".CustomViewActivity"
          android:windowSoftInputMode="stateVisible|adjustPan"/>
`
it shows:
<img src="https://user-images.githubusercontent.com/17677615/94812449-190f9d00-043a-11eb-9c66-f31d3ebed469.png" width=250/>

----------------------------------------------------------------------

[2020-10-02 09:38] InternetJohnny commented on #474
90% of times it takes up the height and width of the keyboard, but around 10% of times it does this for me as well.
Weird thing is that it happens without any changes in the code. I'll just press the same EmojiEditText, and it will sometimes randomly size it wrong

<img src="https://user-images.githubusercontent.com/19312555/94909350-565c4500-04a3-11eb-9857-45136aa0fdd0.png" data-canonical-src="ht

[2020-10-03 13:15] mjahmadi opened #475 "can not set emoji size programmatically"
Can not set emoji size programmatically in (SDK < 29)

[2020-10-03 13:20] #475 closed

[2020-10-08 09:27] lukesleeman commented on #473
The project I'm currently working on also has a need for something like this.  One approach that may work for us is to just use `EmojiView` directly.

At the moment you can't use it in xml as it doesn't have the appropriate constructors, though once you get over that it basically works, and you can can integrate it in your UI however you see fit.

@mihir0109 would embedding `EmojiView` in your UI

[2020-10-10 00:30] Aster0 commented on #474
Can confirm this issue too.

[2020-10-14 06:38] lukesleeman opened #476 "EmojiPopup.Builder.fromRootView() reads from the disk on the main thread"
`EmojiPopup.Builder.fromRootView()` performs a read from the disk on the main thread.   This is caused by the builder constructing a `RecentEmojiManager` in its constructor:

https://github.com/vanniktech/Emoji/blob/6d33b3a68ed9b3102c8d574a7669d44d7da1a57b/emoji/src/main/java/com/vanniktech/emoji/EmojiPopup.java#L373

The `RecentEmojiManager` then creates a shared preferences instance, which then

[2020-10-14 07:12] vanniktech commented on #476
Yes sure, PR sounds good.

[2020-10-23 12:27] keyvanNorouzi opened #477 "Disable RecentEmoji"
Is there any way to disable the RecentEmoji tab? (version 0.7.0)
I want to dismiss the Recent Emojis

[2020-10-26 07:00] lukesleeman commented on #476
I've submitted a small PR which fixes the issue https://github.com/vanniktech/Emoji/pull/478

[2020-10-26 07:35] lukesleeman commented on #477
We have a similar need, and I would be happy to submit a PR.

Digging through the code the recent emoji come from the `EmojiPopup.Builder`, get passed into the `EmojiPopup`, and from there into the `EmojiView` where a `EmojiPagerAdapter` is build with the recent emoji as its first page.

I can think of two approaches to to represent the "No recent emoji please" case:

**Option 1 - Represent it as

[2020-10-26 08:25] vanniktech commented on #477
Option 2 sounds good.

[2020-10-26 15:33] tobiasKaminsky commented on #473
We have a similar need.
For me it would be perfect, if it opens "keyboard like" popup when clicking on a button and I can handle result via OnEmojiClickListener.

[2020-10-26 15:40] mario commented on #474
What android version, what device, give us sample code so we can reproduce.

[2020-10-26 15:41] mario commented on #473
Should be fairly trivial to implement, especially as you can pass the height of the view to the builder already. Looking forward to PRs.

[2020-10-26 15:42] mario commented on #472
Odd. Were you able to replicate this on any other device running android 9?

[2020-10-26 15:42] mario commented on #144
Where are we with this? :D

[2020-10-26 18:19] vanniktech commented on #144
We've got the text, no dialog yet.

[2020-10-26 18:21] #476 closed

[2020-10-26 22:55] lukesleeman commented on #473
Yeah, I might see what I can do about refactoring `EmojiView` to be a bit more like a "standard" android view.  At the moment you need a builder to construct one, and therefore you can't add it in as part of an xml layout.  There is also no documentation or examples of its use, so you really have to go digging through the codebase to figure it out.

[2020-10-27 06:56] MFlisar commented on #472
No. But imho this makes sense - I do have a sidebar app as well that draws overlays in the `WindowManager` - I think somewhere at android 9 a few new security features were added and so you can't catch touches above the statusbar anymore and android is removing overlays automatically (temporarily) over sensitive screens like permission screens. Allowing to overlay the keyboard seems very dangerous

[2020-10-27 17:48] wellbranding commented on #362
@clp334264003 have you solved it?

[2020-10-28 11:18] IronManIsTheMan commented on #474
Hi Mario, thank you for checking. The issue can be easily seen when using `adjustPan` to configure activity in AndroidManifest.xml, like the above code snippet shown:
`<activity android:name=".CustomViewActivity" android:windowSoftInputMode="stateVisible|adjustPan"/>`
per our team's testing, it happens generally to many devices and pixel emulators too. Hope this makes sense.

[2020-11-14 00:51] trueman1 opened #479 "Not Able to compile project in Android Studio 4.1.1"
Execution failed for task ':app:processDebugResources'.

           This should not happen under normal circumstances, please file an issue if it does.

The build.gradle looks like this -
`plugins {
    id 'com.android.application'
}

android {
    compileSdkVersion 30

    defaultConfig {
        applicationId "com.example.test41"
        minSdkVersion 21
        targetSdkVersion 30
        versi

[2020-11-21 20:34] RoblokazPlays opened #480 "Add emoji searching"
Is it possible to add emoji searching, like at the top of every page it would show a search bar?

[2020-11-21 20:45] vanniktech commented on #480
Sure, there's also another feature that goes into the same direction: #144

[2020-11-24 01:02] RoblokazPlays opened #481 "Maybe changing the icons?"
Is it currently possible to change the icons at the top of the emoji keyboard?

[2020-11-24 09:51] vanniktech commented on #481
You can overwrite the resources with the same identical name, otherwise no.

[2020-11-24 09:51] #481 closed

[2020-12-01 10:04] urvish91 commented on #474
I am facing same issue.

[2020-12-11 17:50] Meglali20 opened #483 "Keyboard flash and new interface"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library: 0.7.0
- Affected devices: Emulator API 29 and physical device API 26
- Affected versions: Twitter

Screenshot(s) showing the issue and reproduction steps are appreciated.

----------------------------------------------------------------------

When I

[2020-12-17 20:28] vellrya opened #484 "Incorrect heart emoji detection in EmojiUtils"
- Version of the library: 0.7.0
- Affected devices: OnePlus 3
- Affected versions: Android 8.0

----------------------------------------------------------------------

Hello, some strange behaviour:
EmojiUtils.emojisCount("❤") return 0.
Heart symbol is also ignored in method EmojiUtils.emojis (empty list returned).

Thats all, thank you for time spend on maintaing library :)

[2020-12-23 05:15] 207ashu commented on #483
i found the similar issue on my device, I have set the keyboard theme to green knowingly.

https://user-images.githubusercontent.com/23443023/102961938-ac251400-450b-11eb-91e5-fd0024e45e6a.mp4

[2020-12-29 07:13] 207ashu commented on #483
can it be that we first launch the emoticon panel and not the ime behind it ?

[2020-12-29 17:54] Meglali20 commented on #483
@207ashu What do you mean?

[2020-12-29 19:36] VitaliPom commented on #213
Hi @vanniktech, sorry it'd been too long.
I'm working on it now.

I'm working with Anysoftkeyboard fork.

It uses GroupView for emojies, which is not an activity.

You have this line:

`this.context = Utils.asActivity(builder.rootView.getContext());
`
I believe it shall be getApplicationContext() to work for everybody*.

*for me as well...

getApplicationContext() works on groupViews too.

In a mo

[2020-12-30 20:55] VitaliPom commented on #213
Ok I debugged and I finished with a conclusion.
This library is ONLY designed to work with Activity.

The builder class requires the window where emojies appear to be EmojiTextEditor, which is not clear of course from the documentation.

This makes it impossible to make it work on a standalone keyboard as an emoji library for a keyboard.

[2021-01-01 14:31] 207ashu commented on #483
I mean just like whatsapp has its own inbuilt emoji section wherein the keyboard shows on top of the emoji panel, but with the use of library emoji popup appears on top of the keyboard section

[2021-01-02 12:09] Meglali20 commented on #483
@207ashu yes, I didn't take a look at the library code but I think it shows the keyboard before to get the height and use it for the emoji popup, needs a confirmation.
I think this repo isn't supported anymore,  I get issues like the one I mentioned, sometimes the emoji popup shows above the keyboard and sometimes it takes the full height and you can't dismiss it...

[2021-01-02 15:47] Meglali20 commented on #213
@VitaliPom I confirm the issue, I tried to add in a service creating an overlay view and I get the same error "The passed Context is not an Activity."

[2021-01-02 15:51] Meglali20 commented on #483
#213 One more issue.

[2021-01-19 01:14] tricksilver04 opened #485 "EmojiUtils.isOnlyEmojis cannot detect 🗯 , 🗨, 🕳, ❤, ❣ ...."
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library:  0.7.0
- Affected devices: Any
- Affected versions: Any

To replicate issue :

EmojiUtils.isOnlyEmojis("🗯")
EmojiUtils.isOnlyEmojis("🗨")
EmojiUtils.isOnlyEmojis("🕳")
EmojiUtils.isOnlyEmojis("❤")
EmojiUtils.isOnlyEmojis("❣")

* this happens to all emo

[2021-01-28 03:32] k3vinb0ss commented on #474
any new info for this issue ? i'm having same issue

[2021-01-28 10:19] binhhoit opened #487 "size display popup emoji wrong when update version 0.7.0"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library: 0.7.0
- Affected devices: all device
- Affected versions: : 8.0
the new version upgrades very bad dialog. I don't change anything in the source code and update 0.6.0 -> 0.7.0 I have a bug show full-screen dialog emoji. this bug does not have when dow

[2021-02-21 10:27] LatteAno opened #488 "Emoji popup not showing"
Trying to show up the emoji popup, but it's not showing:

[code]

The layout:

[code]

What am I doing wrong?

[2021-02-23 12:42] adil9d commented on #422
check this must initialize in manifest
https://www.geeksforgeeks.org/how-to-integrate-emojis-in-an-android-app/

[2021-02-23 12:42] adil9d commented on #261
check this must initialize in manifest
https://www.geeksforgeeks.org/how-to-integrate-emojis-in-an-android-app/

[2021-02-26 19:19] Mr-Saidov opened #489 "A space appears at the bottom of the keyboard"
A space appears at the bottom of the keyboard

- Version of the library: 0.7.0
- Affected devices: Xiaomi Note 6 Pro, Redmi 7A
- Affected versions:

Screenshot(s) showing the issue and reprodutio
![Screenshot_2021-02-27-00-12-29-585_com vanniktech emoji sample](https://user-images.githubusercontent.com/45036079/109344755-ff5f6e00-7890-11eb-9838-05a61c64cbc4.jpg)
n steps are appreciated.

---------

[2021-03-31 06:54] emondd4 opened #490 "Emoji Layout poping above keyboard layout"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library: 0.7.0
- Affected devices: Xiaomi Note 7
- Affected versions: Android 10
- Though I am using "android:windowSoftInputMode="stateAlwaysHidden|adjustResize" in my menifest
- and even using " android:fitsSystemWindows="true" " in my root view

Screenshot

[2021-03-31 12:53] abeerlav opened #491 "Change the emoji size like messaging Apps"
Hello,

 I need to change the emoji sizes like in messaging apps. If there is only one emoji sent in a message then it's bigger, if there are two they are smaller, if they are sent inline with the text then it's normal text size.

is there is a way to achieve this using the library?

[2021-03-31 18:08] vanniktech commented on #491
That's possibly. Look at the sample app. There's exactly this

[2021-03-31 18:08] #491 closed

[2021-04-01 06:05] akteruzzaman816 commented on #490
any solution to this problem?

[2021-04-18 18:54] denjoo opened #492 "EmojiEditText cursor height is too small by wirting emojis followed by text"
If you write an emoji followed by a text. The height of the emoji cursor is too small and the textfield height reduce. If you write text the textfield increase. Because the line height is bigger. Solution: It should be the same line height.

- Version of the library: 0.7.0
- Affected devices: all
- Affected versions: 0.7.0

----------------------------------------------------------------------

[2021-04-20 06:43] vanniktech commented on #488
I don't know. But please take a look at the sample app.

[2021-04-20 06:43] #488 closed

[2021-04-20 06:45] vanniktech commented on #484
Dupe of #485

[2021-04-20 06:45] #484 closed

[2021-04-20 06:46] vanniktech commented on #483
I don't see anything wrong here.

[2021-04-20 06:46] #483 closed

[2021-04-20 06:46] vanniktech commented on #479
You need AndroidX.

[2021-04-20 06:46] #479 closed

[2021-04-20 06:46] vanniktech commented on #480
Closing in favor of #144

[2021-04-20 06:46] #480 closed

[2021-04-20 06:47] vanniktech commented on #490
Dupe of #472

[2021-04-20 06:47] #490 closed

[2021-04-20 06:47] vanniktech commented on #489
Dupe of #467

[2021-04-20 06:47] #489 closed

[2021-04-20 06:49] vanniktech commented on #477
PR welcome.

[2021-04-20 06:49] vanniktech commented on #487
Dupe of #474

[2021-04-20 06:49] #487 closed

[2021-04-21 11:54] ibrahim-sdsol opened #494 "emoji pop up not fitting in keyboard properly. showing space from bottom."
version 0.5.1
android Q(POCO X3)

[2021-04-21 11:54] ibrahim-sdsol commented on #494
version 0.5.1
android Q(POCO X3)

[2021-04-21 14:35] #494 closed

[2021-04-22 10:38] ibrahim-sdsol commented on #474
@vanniktech i am facing same issue, i am not using any windowsoftinputmode and my device is poco x3 and android 10.

[2021-05-10 05:49] payaladbiz commented on #474
@vanniktech I am facing this same issue when I am using this emoji popup in bottomsheet please help

[2021-05-10 06:57] vanniktech commented on #474
@payaladbiz feel free to send a PR to fix the problem

[2021-05-18 04:27] nitishRakuten opened #498 "App crash on EmojiManager.install"
- Version of the library: 0.7.0
- Affected devices: AQUOS sense4 lite SH-RM15
- Affected versions: Android 11

Screenshot(s) showing the issue and reprodution steps are appreciated.
----------------------------------------------------------------------

Caused by java.lang.NullPointerException: Attempt to invoke direct method 'void com.vanniktech.emoji.google.GoogleEmoji.<init>(int[], java.lang.St

[2021-05-18 10:45] vjclassplus commented on #474
@vanniktech I'm also facing the same issue. Tried with multiple devices. Redmi, oneplus and pixel emulator. The emoji keyboard opens in full screen no matter which view is passed.

[2021-05-20 07:41] vjclassplus commented on #474
@vanniktech found out why this is happening in my case. it is because of this flag on oncreate :
if I remove this. it is working as expected.
Hope this helps for anyone who is looking for an answer.
 window.addFlags(WindowManager.LayoutParams.FLAG_FULLSCREEN)

[2021-05-22 14:19] kasra-java-node commented on #474
**Hello friends . I am using version 0.7.0 of this library which is of iOS type. But it still has the same problem. And the list of emojis is not displayed to me normally. Thank you for your help**

[2021-05-22 14:43] kasra-java-node commented on #474
Hi friends, I also had this problem until I put the following code in the manifest android class:

 <Activity
            android: name = ". Register"
            android: label = "@string/app_name"
            android: windowsSoftInputMode="adjustResize"

I hope this code helps those who have this problem

[2021-06-02 18:21] victoryil commented on #474
my solution was to delete `android:supportsRtl="true"` since my Activity is common and I work with fragments.
I hope I have provided some help to users who have the same issues. :smile:

[2021-06-08 08:29] miha1ciocan opened #499 "Graphics license"
Hi, are graphics copied from [https://github.com/twitter/twemoji](https://github.com/twitter/twemoji)?
It would be nice to know, since they have some attribution requirements.

[2021-06-15 08:59] huaidanbushidan opened #501 "emojipopup.isShowing() is always return false"
emojipopup.isShowing() is always return false
- Version of the library:emoji-ios:0.7.0
- Affected devices:pixel3 XL API 30
- Affected versions:0.7.0

Screenshot(s) showing the issue and reprodution steps are appreciated.
![image](https://user-images.githubusercontent.com/43977595/122024425-0045ec80-cdfb-11eb-9340-16bdd66e6c23.png)

------------------------------------------------------------------

[2021-06-27 18:08] vanniktech commented on #501
Can you reproduce in the sample app?

[2021-06-27 18:09] vanniktech commented on #499
@rubengees are they?

[2021-06-27 18:09] vanniktech commented on #498
Hmm interesting. Do you have steps how to reproduce this issue?

[2021-06-27 18:09] vanniktech commented on #492
Open PR (from you): https://github.com/vanniktech/Emoji/pull/493

[2021-06-27 18:10] vanniktech commented on #474
I'm closing this issue due to inactivity. If you have any further input on the issue, don't hesitate to reopen this issue or post a new one.

[2021-06-27 18:10] vanniktech commented on #472
I'm closing this issue due to inactivity. If you have any further input on the issue, don't hesitate to reopen this issue or post a new one.

[2021-06-27 18:10] #472 closed

[2021-06-27 18:10] vanniktech commented on #467
I'm closing this issue due to inactivity. If you have any further input on the issue, don't hesitate to reopen this issue or post a new one.

[2021-06-27 18:10] #467 closed

[2021-06-28 14:25] rubengees commented on #499
If you use the `TwitterEmojiProvider` then yes, that's twemoji.

[2021-06-28 17:35] hvar90 commented on #156
why is no posssible change that color on different way ?

like on this way

    <color name="emoji_background">#ECEFF1</color>
    <color name="emoji_icons">#61000000</color>
    <color name="emoji_divider">#15000000</color>

[2021-06-28 17:40] vanniktech commented on #156
Dunno. If I were you, I'd use the builder

[2021-06-28 17:44] hvar90 commented on #156
where is explained how change the colors using the bulder?

[2021-06-28 17:44] #499 closed

[2021-06-28 17:56] vanniktech commented on #156
EmojiPopup.Builder

[2021-06-28 19:12] hvar90 commented on #156
oh ok
i will use the builder
thanks

[2021-07-13 10:23] Dolfik1 opened #505 "An emoji is not displayed correctly when it contains Variation Selector-16 at the end"
Some keyboards can add Variation Selector-16 at the end of emoji. This causes drawing problems in the library. A emoji with Variation Selector-16 is not displayed properly:

<img width="50" alt="Screenshot 2021-07-13 at 13 18 12" src="https://user-images.githubusercontent.com/5128766/125435361-f481535a-895b-4dc8-96e2-b3f113b66f3b.png">  (e2 98 ba)

But the same emoji displays correctly when Variat

[2021-07-13 10:55] nitishRakuten commented on #498
Nope, Found this issue in production build via Crashlytics.

[2021-07-21 08:39] #492 closed

[2021-08-09 09:01] tokoiwesley opened #506 "Incorrect README instruction for Facebook Emojis"
Code for installing the Facebook provider should be **`EmojiManager.install(new FacebookEmojiProvider());`** instead of `EmojiManager.install(new GoogleEmojiProvider());`.

![Screenshot from 2021-08-09 11-53-30](https://user-images.githubusercontent.com/4052790/128681883-097cebab-3012-480e-8ecd-87e64755d599.png)

[2021-08-10 11:38] KKTadena commented on #473
Found an issue using EmojiView:

1. Recent tab doesn't update
2. OnLongClick (to change some emoji color) doesn't work
(EmojiView no default listener for onLongClick, setting null params for onLongClick crashes)

ps. hope we can hide the back button too

or there's just something I missed.

[2021-09-23 12:23] vanniktech commented on #501
I'm closing this issue due to inactivity. If you have any further input on the issue, don't hesitate to reopen this issue or post a new one.

[2021-09-23 12:23] #501 closed

[2021-09-23 12:23] vanniktech commented on #498
I'm closing this issue due to inactivity. If you have any further input on the issue, don't hesitate to reopen this issue or post a new one.

[2021-09-23 12:23] #498 closed

[2021-09-23 12:39] #506 closed

[2021-09-24 12:54] fasilthottathil opened #511 "Not working on BottomSheetDialog"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library:
- Affected devices:
- Affected versions:

Screenshot(s) showing the issue and reprodution steps are appreciated.

----------------------------------------------------------------------

[2021-09-24 13:03] #511 closed

[2021-09-27 09:09] #477 closed

[2021-10-11 10:12] imnadev opened #525 "java.lang.NullPointerException"
java.lang.NullPointerException:
  at android.util.Log.println_native (Native Method)
  at android.util.Log.w (Log.java:200)
  at com.vanniktech.emoji.Utils.getInputMethodHeight (Utils.java:76)
  at com.vanniktech.emoji.EmojiPopup.updateKeyboardState (EmojiPopup.java:142)
  at com.vanniktech.emoji.EmojiPopup$1.onGlobalLayout (EmojiPopup.java:72)
  at android.view.ViewTreeObserver.dispatchOnGlobalLa

[2021-10-15 04:17] Abdullahksa5588 opened #526 "Cjjgh"
Guiijh

[2021-10-15 08:30] #526 closed

[2021-10-26 14:09] ouchadam opened #528 "Samsung causing wrong emoji picker height"
- Version of the library: Latest from master 9d9dfe0a5f389520dafd012c88b5bbd8f27fd489
- Affected devices: Samsung Fold3

It appears the samsung bottom bar for hiding the keyboard is not taken into account when calculating the emoji picker height

| FOLDED KEYBOARD | FOLDED EMOJIS |
| --- | --- |
| ![Screenshot_20211026-145133_Emoji](https://user-images.githubusercontent.com/1848238/138893951-ea24a

[2021-10-27 20:27] yaser772 opened #529 "adding provider"
where to install provider?and how to do it im beginner

[2021-10-28 09:24] #529 closed, assigned to nobody

[2021-10-28 14:45] yaser772 opened #530 "problem"
excuse me to ask another question .
your code has not any explanation about fragment .you dont use fragment in it?

[2021-10-28 15:22] #530 closed, assigned to nobody

[2021-11-02 13:03] nAkhmedov opened #531 "ANR VariantEmojiManager.persist"
- Version of the library:
    implementation 'com.vanniktech:emoji-ios:0.8.0'

- Affected devices:
- Affected versions:

  at java.lang.Object.wait (Native method)
  at java.lang.Object.wait (Object.java:442)
  at java.lang.Object.wait (Object.java:568)
  at android.app.SharedPreferencesImpl.awaitLoadedLocked (SharedPreferencesImpl.java:279)
  at android.app.SharedPreferencesImpl.edit (SharedPrefe

[2021-11-10 17:25] kingbash90 commented on #528
I am facing the same problem on Samsung keyboards.

[2021-11-16 05:38] Namolem opened #533 "Proguard removes emojis with isShrinkResources=true"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library: **0.8.0**
- Affected devices:
99% HUAWEI
<1% Xiaomi

`Fatal Exception: java.lang.IllegalArgumentException: x + width must be <= bitmap.width()
       at android.graphics.Bitmap.createBitmap(Bitmap.java:998)
       at android.graphics.Bitmap.createBit

[2021-12-06 15:27] Janneman84 commented on #474
I have the same issue on Chromebook. It's probably because it has a hardware keyboard, so the soft keyboard never shows.

[2021-12-06 17:37] Janneman84 opened #535 "Emojis fill the entire screen when using hardware keyboard."
- Version of the library:
0.7.0 (latest at time of writing)
- Affected devices:
All devices with hardware keyboard connected
- Steps to reproduce:
Use a Chromebook or connect a Bluetooth/USB keyboard to phone, then run the sample project on it and press the smiley.

Same symptom as here:
https://github.com/vanniktech/Emoji/issues/474

Entire screen gets filled with the emoji view, getting you stuc

[2022-01-03 14:14] kojid0 opened #538 "Wrong borders at the bottom"
Element Messenger included the Emoji library.
[I encountered a bug](https://github.com/vector-im/element-android/issues/2647) where the emoji picker has a wrong border at the bottom.

![image](https://user-images.githubusercontent.com/24477557/104090245-d00b8800-5275-11eb-9ab4-803f33732238.png)

Using a Google Pixel 5 with [FlorisBoard Keyboard](https://github.com/florisboard/florisboard).

[2022-01-18 19:20] abaker commented on #528
Also able to reproduce on an S10 when navigation is set to swipe gestures. When using 3-button navigation the issue does not occur

[2022-01-19 09:23] vanniktech commented on #528
@abaker do you mind submitting a PR with a fix?

[2022-02-07 08:10] rohitlien opened #542 "Anr issue while getting categories"
main (runnable): tid=1 systid=16229
       at java.lang.Character.toChars(Character.java:5172)
       at java.lang.StringFactory.newStringFromCodePoints(StringFactory.java:288)
       at com.vanniktech.emoji.emoji.Emoji.<init>(Emoji.java:64)
       at com.vanniktech.emoji.emoji.Emoji.<init>(Emoji.java:58)
       at com.vanniktech.emoji.emoji.Emoji.<init>(Emoji.java:52)
       at com.vanniktech.emo

[2022-02-07 10:57] mohitrajput-trell commented on #542
I am also facing this ANR issue. Mostly in Samsung Android 11 devices.

[2022-02-11 17:09] surajsahani opened #543 "Library is Not Compaitable with latest version of Android SDK"
Execution failed for task ':app:processDebugMainManifest'.

  	Suggestion: use a compatible library with a minSdk of at most 16,
  		or increase this project's minSdk version to at least 21,
  		or use tools:overrideLibrary="com.vanniktech.emoji.material" to force usage (may lead to runtime failures)

----------------------------------------------------------------------

[2022-03-01 09:43] Zhuinden commented on #543
it says the library requires minSdk 21, and your project has minSdk 16

[2022-03-01 09:44] Zhuinden opened #547 "Is this library compliant with the latest Emoji policy which requires support of Unicode 13.1?"
If not, how can GoogleEmoji be updated?

[2022-03-01 11:02] vanniktech commented on #543
That's true

[2022-03-01 11:02] #543 closed

[2022-03-04 14:34] vanniktech opened #549 "Emoji Dialog with keyboard does not work with 'microsoft swift key keyboard'"
https://play.google.com/store/apps/details?id=com.touchtype.swiftkey&hl=en&gl=US

[2022-04-04 15:41] vanniktech commented on #525
Seems like you're using an older version also this crash is caused inside Android Log's class. Not our business.

[2022-04-04 15:41] #525 closed

[2022-04-04 15:41] vanniktech commented on #528
Can someone who has this device, debug and provide a fix? I don't have such devices at hand.

[2022-04-04 15:43] vanniktech commented on #535
@Janneman84 can you debug this and provide a workaround? I don't have a Chromebook / physical keyboard.

[2022-04-04 15:53] vanniktech commented on #505
Keyboards should not add this. If they do, please report it over at their end

[2022-04-09 10:00] #533 closed

[2022-04-11 07:10] hello-brothers opened #572 "The full screen is abnormal"
when the Application or activity style is fullScreen (android:theme="@android:style/Theme.NoTitleBar.Fullscreen")
or set window.setFlags(WindowManager.LayoutParams.FLAG_FULLSCREEN, WindowManager.LayoutParams.FLAG_FULLSCREEN)  in activity, the emoji pop is abnormal
version:0.9.0

![011](https://user-images.githubusercontent.com/23499816/162683612-e65a0aa2-7c14-4c25-9b82-97ccf46ffaeb.png)

[2022-04-11 07:38] vanniktech commented on #572
Yeah, we've had a few reports of that. I was never able to reproduce. Do you mind trying out our sample app and see if you can come up with a fix?

[2022-04-25 10:06] mahibi commented on #572
duplicate of: https://github.com/vanniktech/Emoji/issues/474

[2022-04-25 10:11] mahibi commented on #474
i didn't figure out why this issue happens so i made a [workaround](https://github.com/nextcloud/talk-android/pull/1942).
maybe this workaround helps someone to understand the root cause 🤷‍♂️

[2022-04-25 11:05] #572 closed

[2022-04-26 19:00] vanniktech commented on #542
I don't think there's much we can do here as its a static variable

[2022-04-26 19:00] #542 closed

[2022-04-26 19:12] vanniktech commented on #547
#586 is the first step towards being up to date again

[2022-04-26 19:24] vanniktech commented on #538
@kojid0 that thing is coming from the keyboard itself and it seems like our `PopupWindow` is added on the z axis after the keyboard input (letters etc) but before their navigation elements.

Do you have an idea how we can tell Android to place our PopupWindow at the very top?

[2022-04-26 19:28] vanniktech commented on #549
Hmmm can't reproduce any longer. Sample works on my Pixel 6XL with the swift keyboard

[2022-04-26 19:28] #549 closed

[2022-04-26 19:29] vanniktech commented on #535
Closing in favor of #474

[2022-04-26 19:29] #535 closed

[2022-04-26 19:31] vanniktech commented on #528
Closing due to inactivity plus looking at the screenshots I don't see what's the problem.

[2022-04-26 19:31] #528 closed

[2022-04-27 08:59] #531 closed

[2022-04-27 12:18] #473 closed

[2022-04-27 12:18] vanniktech commented on #473
Feel free to test this out in the latest master commit

[2022-04-27 12:36] ouchadam commented on #528
The issue is the slight offset difference causing the emoji window to cover the edittext/emoji button that opened the window

Notice on the left how the stock keyboard doesn't cover the edittext (the emoji window behaves the same on other devices)

![2022-04-27T13:33:50,556641551+01:00](https://user-images.githubusercontent.com/1848238/165518948-e1996d7d-5175-4149-ab34-668873cbdf10.png)

I suspect

[2022-04-27 20:31] vanniktech commented on #528
It seems like it's the height of the 2 keyboard buttons

<img width="374" alt="Screen Shot 2022-04-27 at 22 30 43" src="https://user-images.githubusercontent.com/5759366/165625710-99fd99e6-3472-4e98-9176-612ab5e74a1e.png">

@ouchadam do you have a device at hand and can poke around how to get this special height and provide a fix?

[2022-04-27 20:52] vanniktech commented on #473
The custom view showcase in the sample app might be useful too, this one also only allows entering emojis

[2022-04-27 21:12] #144 closed

[2022-04-29 09:22] vanniktech commented on #474
@mahibi can you try using `toggle()` in your example?

<img width="584" alt="Screen Shot 2022-04-29 at 11 21 16" src="https://user-images.githubusercontent.com/5759366/165918010-72eb40c7-83bf-493f-9eda-0afd8576beea.png">

 Looking at the code there's a `requestApplyInsets` call that we don't do when you're doing start/show manually

[2022-05-01 19:24] noe opened #690 "Integration with Jetpack Compose ?"
Is it possible to integrate Emoji with Jetpack Compose? If so, how? If not, is it planned?

[2022-05-02 04:07] keidowisu opened #692 "Keyboard Gesture Buttons Are Covering EmojiPopups"
I would like to suggest putting extra padding for bottom navigation bar since it makes touching the bottom line of emojis kinda difficult.

- Version of the library: 0.9.0
- Affected devices: Android 10+ Devices that supports gesture mode
- Affected versions: 10 (Q)

Screenshot(s) showing the issue and reproduction steps are appreciated.

-------------------------------------------
![Screenshot](h

[2022-05-02 20:51] qadir227 commented on #362
me too getting this issue on my device.
I tried setPopupWindowHeight(250) but it doesn't work. still showing the popup covering whole screen

[2022-05-04 08:37] vanniktech commented on #362
In the sample app? If so, can you PR a fix?

[2022-05-04 08:38] vanniktech commented on #692
Duplicate of https://github.com/vanniktech/Emoji/issues/538

Do you have a solution in mind @keidowisu ?

I've already tried finding something but could not find anything :/

[2022-05-04 08:38] #692 closed

[2022-05-04 08:38] vanniktech commented on #690
Currently not. Probably similar to `emoji-material` there should be a `emoji-compose` library module which has compose support

[2022-05-04 09:00] vanniktech commented on #547
Now it is with #691 thanks @rubengees !

[2022-05-04 09:00] #547 closed

[2022-05-05 12:23] KrunalStrategyX opened #758 "When click on emoji button keyboard is open but edit text is not show emoji keyboard is overlap the edit text."
![image](https://user-images.githubusercontent.com/79579633/166922144-c4621d87-25a1-42a1-b5c0-5385511874a1.png)

[2022-05-05 12:24] vanniktech commented on #758
Can you reproduce in the sample app?

[2022-05-05 12:26] KrunalStrategyX commented on #758
I was already try that.

[2022-05-06 04:26] KrunalStrategyX commented on #758
![image](https://user-images.githubusercontent.com/79579633/167066777-4a7683ad-2d1a-426e-b021-ed6091c72270.png)

@vanniktech If you have removed this bottom view resolved this issue.

[2022-05-06 08:45] vanniktech commented on #758
Can you find a way how to do that? I don't have that device at hand so I can't try it out

[2022-05-09 20:19] qadir227 commented on #362
Now its working fine at my side with following

in meinifest.xml file

[code]

[2022-05-12 18:41] mahibi commented on #474
with `toggle()` the bug occurs again

[2022-05-15 01:32] hvar90 opened #784 "cannot find symbol class EmojiImageView emoji-ios:0.11.0"
i got a error with the new library
- Version of the library:
 emoji-ios:0.11.0
- Affected devices:
 samsung
- Affected versions:
 android 11

cannot find symbol class EmojiImageView
package com.vanniktech.emoji.emoji does not exist

----------------------------------------------------------------------

[2022-05-15 19:16] vanniktech commented on #784
The class is internal now: https://github.com/vanniktech/Emoji/blob/master/emoji/src/main/kotlin/com/vanniktech/emoji/internal/EmojiImageView.kt

Why do you need to use that class?

[2022-05-15 19:26] hvar90 commented on #784
for OnEmojiClickListener
also Cannot resolve symbol 'Builder'

EmojiPopup.Builder
[code]

[2022-05-15 19:44] hvar90 commented on #784
maybe it is because i am using java code, how could i use the new versions with my java code?

[2022-05-15 20:56] vanniktech commented on #784
First upgrade to 0.10.0, Builder got deprecated and removed in 0.11.0. As for the parameter it's been removed from `OnEmojiClickListener`: https://github.com/vanniktech/Emoji/blob/master/emoji/src/main/kotlin/com/vanniktech/emoji/listeners/OnEmojiClickListener.kt

Instead of Builder you can directly call the EmojiPopup constructor

[2022-05-15 20:56] #784 closed

[2022-05-16 00:01] hvar90 opened #785 "error"
i got errors with the new library

Version of the library:
emoji-ios:0.10.0
Affected devices:
samsung
Affected versions:
android 11

non-static method install(EmojiProvider) cannot be referenced from a static context

you have on the tutorial
`EmojiManager.install(IosEmojiProvider());`
but it does not work anymore because install method is not static anymore

cannot find symbol method fromRootView

[2022-05-16 07:46] vanniktech commented on #785
I'm not here to explain to you how to call Kotlin code from Java. There are plenty of tutorial online. So for instance you might need: `EmojiManager.INSTANCE.install`

[2022-05-16 07:46] #785 closed

[2022-05-16 13:08] hvar90 commented on #784
a question
EmojiPopup has notnull parameters, what happens when i do not need to put all parameters like EmojiTheming?
and the parameters have an ordering
with the builder we could put optional values

thanks for your answer

[2022-05-16 20:58] hvar90 opened #788 "new emojis do not show good on textview"
Version of the library:
emoji-ios:0.12.0
Affected devices:
samsung
Affected versions:
android 11

i tested on your code example and it works with the same problem, the new emojis show good and big only on EdiText but not on TextView

![Screenshot_20220516-154055_TalkFi Lite](https://user-images.githubusercontent.com/3120114/168681148-f45571e2-7da5-41ab-97b4-b0af76c408b8.jpg)

[2022-05-16 21:18] vanniktech commented on #788
@rubengees is there any difference in regards to the sizes for the new emojis?

[2022-05-16 21:24] hvar90 commented on #788
i am not sure about your question, but on the screenshot the new emojis look good on EditText but on TextView look small and the emojis do not look like on the EditText or on the keyboard library

[2022-05-16 22:01] rubengees commented on #788
@vanniktech I looked for the png strips we have and the emojis have normal size. In the data source they also have the same size. I then tried to reproduce this with the `EmojiTextView` but that also looks fine - which does not mean that there is not some kind of problem.

[2022-05-16 22:15] hvar90 commented on #788
i attached an example how it looks on your example code
you can see the difference between old and new emojis

![Screenshot_20220516-170746_Emoji](https://user-images.githubusercontent.com/3120114/168691072-045cd786-83c5-4d4e-a2c0-ab4dc066ff9d.jpg)

[2022-05-16 22:19] rubengees commented on #788
Thanks for the example @hvar90! What are the necessary code changes to have this? How does the layout code look like?

[2022-05-16 22:22] hvar90 commented on #788
i did not change anything on your code, it is the same code on your github

[2022-05-16 22:29] rubengees commented on #788
I was asking to see the code you have so that the behaviour is like in the screenshot. So the changes to the `main_activity.xml` and the `MainActivity`. That would help to reproduce the issue and look into it 🙂.

[2022-05-16 22:36] hvar90 commented on #788
MainActivity.kt

[code]
main_activity.xml
[code]

[2022-05-17 09:49] KrunalStrategyX commented on #758
I was manual hide bottom bar of keyboard

[2022-05-17 10:08] vanniktech commented on #788
@rubengees proably just our sample app as is with the emojis that you see in the screenshot

[2022-05-17 12:53] hvar90 commented on #788
not only your sample show bad the new emojis, my app using the new library shows bad the new emojis

[2022-05-17 18:42] hvar90 commented on #788
i installed the same sample app, i did not change anything
i tested the sample app with other device and i got the same result
on Samsung and Motorola i got bad emojis only for the new emojis

maybe it is for some countries i am not sure but with your sample without modifications i got that problem

[2022-05-17 20:19] hvar90 opened #789 "RecentEmojiManager not removing the last recent emoji"
Version of the library:
emoji-ios:0.12.0
Affected devices:
samsung
Affected versions:
android 11

with the new library emoji recent system not working good when emojis.size > MAX_RECENTS
it is not removing the last recent emoji, it removes a random position on list recent emojis

on the code RecentEmojiManager.kt
...........................................................
[code]
on the code is goo

[2022-05-24 18:51] vanniktech commented on #788
If you open it now again on your phone, is everything fine?

[2022-05-24 19:05] hvar90 commented on #788
i will dowload again your code of github and i will test it again ..

[2022-05-24 19:26] vanniktech commented on #788
Which provider where you using? If Google Compat with the fonts it might be normal that once you see some inconsistent emojis and after they are downloaded, and the application is restarted, everything is fine

[2022-05-24 20:32] hvar90 commented on #788
![Screenshot_20220524-150500_Emoji](https://user-images.githubusercontent.com/3120114/170126148-ba31eb9a-0936-44e7-acca-6626bdcbe330.jpg)

i am using IOS provider and i am using your code on sample app

[code]

[2022-05-25 08:22] #789 closed

[2022-06-03 20:00] hvar90 commented on #788
i  realized something new
on notifications i can not see the new emojis, but the old emojis i can see them
maybe the problem has relation with that, maybe some OS don't not recognize the new emojis codification

![20220603_144347](https://user-images.githubusercontent.com/3120114/171939668-8549dad8-ba15-483f-ae01-cb712141c858.jpg)
![20220603_144451](https://user-images.githubusercontent.com/312011

[2022-06-04 13:48] SySagar commented on #758
is this bug solved?

[2022-06-04 14:59] vanniktech commented on #788
It's probably that your phone has a font which does not have those particular emojis

[2022-06-06 04:21] KrunalStrategyX commented on #758
Yes If you hide manually  keyboard bottom bar

[2022-06-16 08:07] PGautam27 commented on #690
It's possible now. I've used it in few application. You don't typically need any dependency for that.
And Also I'll add up a bit of code how to convert the unicode to emotes using the function.

`@Composable
fun Smily() {
    Column(
        verticalArrangement = Arrangement.Center,
        horizontalAlignment = Alignment.CenterHorizontally,
        modifier = Modifier.fillMaxSize()
    ) {

[2022-06-19 09:47] renovate[bot] opened #855 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update dependency com.google.firebase:firebase-crashlytics-gradle to v2.9.0

## Open

These updates have all been created al

[2022-06-21 03:09] buiduclam09 opened #862 "Emoji SHOULD not blur"
- Version of the library: 0.8
- Affected devices: android Samsung FE, version 12
- Affected versions:
![image](https://user-images.githubusercontent.com/101542618/174708257-00e93bec-7dc2-48de-8f92-7c9079756f5d.png)

----------------------------------------------------------------------

[2022-06-26 05:52] frhnfrq commented on #690
I am trying to use the EmojiView in Jetpack like this,
[code]

Getting this error
`android.view.InflateException: Binary XML file line #2 in com.qwillio.vendi:layout/emoji_view_category: Binary XML file line #2 in com.qwillio.vendi:layout/emoji_view_category: Error inflating class android.widget.ImageButton
    Caused by: android.view.InflateException: Binary XML file line #2 in com.qwillio.vendi:

[2022-07-14 08:33] ofcosar commented on #474
the problem still continues for version 0.15.0 when ı downgrade the library to 0.6.0 then android studio gives an error for androidx

[2022-08-03 03:05] hoangchungk53qx1 commented on #758
@KrunalStrategyX can you share that code?

[2022-08-03 03:58] KrunalStrategyX commented on #758
I have change keyboard setting manual not programmatically

[2022-08-21 10:33] SujithManjavana opened #879 "Cannot resolve symbol 'Builder'"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library: com.vanniktech:emoji-google:0.15.0"
- Affected devices:
- Affected versions:

Screenshot(s) showing the issue and reprodution steps are appreciated.

----------------------------------------------------------------------

I'm getting this error in an

[2022-08-21 10:48] vanniktech commented on #879
Builder has been removed. Use the EmojiPopup constructor!

[2022-08-21 10:48] #879 closed

[2022-08-21 11:51] SujithManjavana opened #880 "Cannot resolve method 'setOnEmojiPopupShownListener' in 'EmojiPopup'"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library: "com.vanniktech:emoji-facebook:0.15.0"
- Affected devices:
- Affected versions:

Screenshot(s) showing the issue and reproduction steps are appreciated.

----------------------------------------------------------------------
Why is android studio sho

[2022-08-21 11:53] SujithManjavana opened #881 "Keyboard background and button colors"
Is there any way to change the keyboard background and button colors? The default colors don’t match my app theme.

[2022-08-21 12:11] vanniktech commented on #880
Please have a look at the kotlin constructor those methods are all gone as stated in the release notes

[2022-08-21 12:11] #880 closed

[2022-08-21 12:12] vanniktech commented on #881
Yeah look at EmojiTheming. Lots of coloring options there.

[2022-08-21 12:12] #881 closed

[2022-08-21 12:14] SujithManjavana commented on #880
Please update your docs to match the latest version. Thank you for this
wonderful library 😊.

On Sun, 21 Aug 2022, 17:41 Niklas Baudy, ***@***.***> wrote:

[2022-08-21 12:15] vanniktech commented on #880
As far as I know, README and sample are both up to date.

[2022-08-29 13:02] bmarty opened #883 "SmileysAndPeopleCategoryChunk2 constructor is too big for task instrumentationTestsWithCoverage when using gradle 7.2.2"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library: 0.15.0
- Affected devices: Android
- Affected versions: all

Screenshot(s) showing the issue and reproduction steps are appreciated.

----------------------------------------------------------------------

The library is working fine, and APK compila

[2022-08-30 19:40] #883 closed

[2022-08-30 19:58] tinder-johnbuhanan opened #885 "Category icons aren't visible (translucent or pure white?)"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library: 0.15.0
- Affected devices: Pixel 5a
- Affected versions: 0.15.0

Screenshot(s) showing the issue and reprodution steps are appreciated.

<img width="421" alt="image" src="https://user-images.githubusercontent.com/102559887/187531231-1f2d5610-eab9-4bf

[2022-09-02 03:57] tiennv157 commented on #788
@hvar90 did you solve this error?

[2022-09-02 04:20] hvar90 commented on #788
No, i don't :(
 if you find the problem please write the info about the problem

[2022-09-02 22:35] santi-petersen commented on #885
Probably some issue with your app theme. Check the "colorPrimary" in your AppTheme style. This is the color used to display unselected categories.

[2022-09-02 22:37] JohnBuhanan commented on #885
@santi-petersen
Is there a workaround? I can't change color primary :(

[2022-09-02 23:11] santi-petersen commented on #885
@JohnBuhanan
I guess you can pass a different EmojiTheming() to the EmojiPopup constructor

val EmojiPopup(
...
theming = EmojiTheming(primaryColor = Color.DKGRAY)
)

[2022-09-02 23:17] JohnBuhanan commented on #885
Badass!  I'll try it :)

[2022-09-03 01:00] tiennv157 commented on #788
I solved it by replaced the EmojiTextView by EmojiEditText, then disable it.

[2022-09-03 01:18] hvar90 commented on #788
you are a genius lol, nice solution i will do the same :)

[2022-09-03 06:10] vanniktech commented on #885
Yeah please use [`EmojiTheming`](https://github.com/vanniktech/Emoji/blob/ae46e82faaa8a1587005efa33c0561a29b6d159a/emoji/src/androidMain/kotlin/com/vanniktech/emoji/EmojiTheming.kt) to overwrite theming.

[2022-09-03 06:10] #885 closed

[2022-09-03 08:14] SujithManjavana opened #886 "EmojiTextView not rendering emojis properly"
Some emojis are not rendering correctly on EmojiTextView. As you can see in the attached screenshot, those emojis are rendered by the android system. This problem only happens with EmojiTextView, in EmojiEditText it is rendered properly.
My code:
`
 <com.vanniktech.emoji.EmojiTextView
            android:id="@+id/sentTxt"
            android:layout_width="wrap_content"
            android:layout_h

[2022-09-03 08:46] vanniktech commented on #886
This is the same as #788

[2022-09-03 08:46] #886 closed

[2022-09-16 15:08] AlvaroBrey opened #891 "Versions 0.10.0 and above of `emoji-google` break Android builds with coverage enabled"
- Version of the library: 0.10.0 - 0.15.0
- Affected devices: any
- Affected versions: any

## Reproduction steps:
1. Create new Android project with Android Gradle Plugin at least 7.2.0
2. Add the library dependency
3. Enable test coverage in `build.gradle`:
[code]
4. Run a coverage report task:
[code]

## Result:
[code]

## Notes
Sample project for reproduction attached: [EmojiGoogleTest2.zip](h

[2022-09-16 17:05] vanniktech commented on #891
Already fixed on master https://github.com/vanniktech/Emoji/pull/884

[2022-09-16 17:05] #891 closed

[2022-09-22 03:12] tarcrud opened #894 "Can we support fluent emoji by microsoft?"
This would be cool.

[2022-09-22 04:11] vanniktech commented on #894
Deferring to my importing hero: @rubengees

[2022-09-22 07:08] rubengees commented on #894
As we get our Emojis from an external package, this would depend on https://github.com/iamcal/emoji-data/issues/211.

[2022-09-22 07:20] vanniktech commented on #894
Oh wow they look actually good!

[2022-10-10 08:02] erengms commented on #758
ongoing issue, is there a solution ?

[2022-10-11 08:13] erengms commented on #528
I don't know how to get the height of this special window. When this special window option is active, the keyboard height is higher than before.

[2022-10-19 10:16] vanniktech commented on #862
What's the problem here?

[2022-10-21 14:03] JackWyman commented on #788
This issue occurs on **Android 7+ devices**, I have fixed the issue by extending the EmojiTextView class to TextView and not AppCompatTextView. It seems that the **AppCompatTextView class in Androix has problems with this**.

FIX
`@SuppressLint("AppCompatCustomView")
public class EmojiTextView extends TextView {`

[2022-10-23 09:39] fgroupindonesia opened #902 "can it be used for java swing?"
i wonder if this could be implemented too inside java swing app?

[2022-10-23 11:07] vanniktech commented on #902
Rendering Emojis using the UI components? Nope, but you can get basic information from Emojis: https://github.com/vanniktech/Emoji/blob/master/jvm/src/main/kotlin/com/vanniktech/emoji/jvm/Main.kt

[2022-10-23 11:07] #902 closed

[2022-10-26 10:26] buiduclam09 commented on #862
When load with Imageview size: 300*300px. Icon will blur,

[2022-10-26 11:26] vanniktech commented on #862
Yeah emojis aren't meant to be displayed in such a big size. There's really nothing we can do as we use images and not svgs.

[2022-10-26 11:26] #862 closed

[2022-11-25 15:30] SSSSunrise opened #913 "sync warning"
Thank you for filing an issue. If this is a bug that you want to report, please take the time to provide some information:

- Version of the library:0.15.0
- Affected devices:
- Affected versions:

Screenshot(s) showing the issue and reprodution steps are appreciated.

----------------------------------------------------------------------
![image](https://user-images.githubusercontent.com/31717774

[2022-11-25 15:35] SSSSunrise commented on #913
Locate the file according to the path

![image](https://user-images.githubusercontent.com/31717774/204017349-ca959c21-6fb3-4df9-ba50-a5a29d5b62c1.png)

[2022-11-25 17:22] vanniktech commented on #913
Why would you think so?

[2022-11-25 18:07] SSSSunrise commented on #913
Then may I ask how to deal with the first problem